[2021-02-01 15:52] anjula-sack commented on #844
Just add it as "Blog" @rocklikereeju00

[2021-02-01 15:53] janethavi commented on #844
We need some replacements for the following places
1) [Navbar](https://github.com/sef-global/sef-site/blob/master/assets/content/static/navbar.html#L82)
2) [Footer](https://github.com/sef-global/sef-site/blob/master/assets/content/static/footer.html#L64)

The above two links(`https://blog.sefglobal.org`) are not working. We need to replace the above links to our new link which is `https://sefgloba

[2021-02-02 13:43] rocklikereeju00 commented on #844
Can I make again pull request ? What happen with my request ? I am new in github please help me.

[2021-02-02 15:24] janethavi commented on #844
Hi @rocklikereeju00,
Welcome to opensource :+1:  As I can see, you have made the changes which were requested in your PR previously. But now the PR has been closed by you. If you still have the branch you can reopen the Pull request so we can review it and merge.

[2021-02-03 08:25] #848 closed, assigned to gajindubandara

[2021-02-05 15:27] #844 closed, assigned to rocklikereeju00

[2021-02-06 16:10] janethavi opened #853 "Remove AcadeMix from site temporarily"
**Describe the bug**
AcadeMix page access needs to be removed temporarily from the following places.
1) In the navigation bar under projects, remove AcadeMix item with its link.
2) In the Index page remove the AcadeMix card under the projects section.
3) In the Index page under `At SEF, We Have Something In Store For Everyone!` section remove the link of `AcadeMix` word in the Student section.

[2021-02-06 16:27] janethavi opened #854 "Add tool tip functionality to logs"
**Is your feature request related to a problem? Please describe.**
In the index page when you scroll down to the press coverage section there is a list of logos. The logo names could not be found. Because of that reason, it is hard to find out what the organizations are.

**Describe the solution you'd like**
Add the tooltip functionality to the logo image. [Bootstrap tooltip](https://getbootstrap.

[2021-02-07 07:16] kumuditha-udayanga commented on #854
@janethavi  I'm working on this issue 🙂.

[2021-02-07 08:03] gajindubandara commented on #853
Can you assign this to me?

[2021-02-08 07:23] #854 closed, assigned to kumuditha-udayanga

[2021-02-11 04:29] janethavi opened #857 "Change README logo"
**Describe the bug**
In the home page, press coverage section the readme press coverage logo needs to be updated. Replace the existing logo with the new logo.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'https://sefglobal.org/'
2. Scroll down to 'Press Coverage'
3. See old logo of `Readme`

**Expected behavior**
The new logo needs to be added. Adjust the size of the new logo to mat

[2021-02-11 04:59] janethavi opened #858 "Update cards look in Onelive Page"
**Describe the bug**
In the [Home](https://sefglobal.org), `Our Project` section there are curvy edged cards. In the [One Live ](https://sefglobal.org/onelive/) page, `Take a look at our past One Lives` section there are a different set of cards(not curve edged cards)

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'One Live page' (From navigation bar Projects-> Onelive)
2. Scroll down

[2021-02-11 05:10] kangkanjr commented on #858
I will work on this.

[2021-02-11 05:18] janethavi commented on #858
Sure @kangkanjr go ahead!

[2021-02-13 11:38] AlexARNcode commented on #857
Hi, is the red background on purpose? Because all other logos of this section have a transparent background.

[2021-02-13 13:38] #853 closed, assigned to gajindubandara

[2021-02-13 13:46] janethavi commented on #857
Hi @AlexARNcode, the red background is mandatory because it's their logo. But you can do something like this. You can use this logo and crop it to a rectangle. So this logo won't look odd in that place.

[2021-02-13 15:54] AlexARNcode commented on #857
Ok then, I'd like to work on this if that's ok with you? I've already resized the image to fit the other ones (same ratio, same height).

[2021-02-13 16:01] janethavi commented on #857
Great to hear @AlexARNcode ! You may start working on this issue.

[2021-02-14 03:59] #857 closed, assigned to AlexARNcode

[2021-02-14 10:40] anjula-sack opened #861 "Create a filter to filter the mentors in scholarx 2021 page"
**Is your feature request related to a problem? Please describe.**
- Currently, we have 45+ mentors in our mentors section and it's too long. We can use a filter to filter the mentors based on their field.

**Describe the solution you'd like**
- Create a function to filter the mentor profiles based on the field

[2021-02-14 15:45] akshika47 opened #863 "Change to the Program Time Line of SX21"
**Is your feature request related to a problem? Please describe.**
Need to change the timeline details of the ScholarX21

**Describe the solution you'd like**
![image](https://user-images.githubusercontent.com/4003135/107881240-857eca80-6f09-11eb-9cad-f1e2a50b436e.png)

In the above image:
1. Change the Student applications close 14 April, 2021 to Student applications close 14 March, 2021
2. Chang

[2021-02-15 14:41] #861 closed, assigned to anjula-sack

[2021-02-15 14:41] #863 closed, assigned to anjula-sack

[2021-02-16 05:13] janethavi opened #865 "Change button styles to default theme style"
**Describe the bug**
Currently, we have different colours on different pages for the buttons. All these buttons should use `btn btn-default` classes.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to `home` page and check the buttons
2. Go to `OneLive` page and check the buttons
3. See the difference

**Expected behavior**
All the buttons should follow one CSS style formating

[2021-02-16 16:02] #865 closed, assigned to janethavi

[2021-02-16 17:23] janethavi opened #867 "Change card view in scholarx"
**Describe the bug**
In the Scholarx page featured stories section, there are a set of cards. Those are different from the home page cards.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to `ScholarX page` (from navigation-> projects-> ScholarX)
2. Scroll down to `Featured Stories` section
3. Got to `Home page`
4. Scroll down to `Our Projects` section
5. See the difference

**Expected be

[2021-02-17 08:48] AlexARNcode commented on #867
Hi, I would be glad to work on that! :)

[2021-02-17 09:11] janethavi commented on #867
Sure @AlexARNcode You can work on this issue!

[2021-02-17 10:05] AlexARNcode commented on #867
Work in Progress : I'm applying the same exact style as the main homepage, but we're facing a little problem for the footer cards : The author and "x min read" are on 2 lines, which doesn't look good :

![sef-card-wip](https://user-images.githubusercontent.com/53975649/108188220-9d27a000-710f-11eb-9bb7-498b67ecc471.png)

What should we do :
- Put the author and the "x min read" on seperate lines ?

[2021-02-18 13:48] larabee7777 commented on #858
Hi I'd like to contribute if this is still open

[2021-02-18 14:04] janethavi commented on #867
@AlexARNcode Will you be able to increase the size(most probably the width) of the cards a bit more? So after doing that you might be able to fit the content to it.  If that doesn't work you may reduce the font size a bit. It would be nice if you can stretch the images to fit the whole top part of the card. I have attached a sample card below for more clarity.

![sef card](https://user-images.gith

[2021-02-19 15:25] AlexARNcode commented on #867
![Capture d’écran 2021-02-19 à 16 23 56](https://user-images.githubusercontent.com/53975649/108524138-03a6ec80-72cf-11eb-95fc-997387909e9e.png)

I think this is better, right?

[2021-02-20 13:57] janethavi commented on #858
Hey, @kangkanjr Are you working on this issue?

[2021-02-20 14:06] Piumal1999 opened #868 "Update the IRC researchers list"
**Is your feature request related to a problem? Please describe.**
We need to add the new IRC researchers' profiles to the IRC page

**Describe the solution you'd like**
Add the images taken from linkedin profiles.
Update assets/content/json/irc.json file

New profiles:
Name | Position | Field | Linkedin
| -- | -- | -- | -- |
G.T Upeka Vianthi Somaratne | Ph.D Candidate | Information Technology |

[2021-02-20 14:06] Piumal1999 opened #869 "Update the IRC researchers list"
**Is your feature request related to a problem? Please describe.**
We need to add the new IRC researchers' profiles to the IRC page

**Describe the solution you'd like**
Add the images taken from linkedin profiles.
Update assets/content/json/irc.json file

New profiles:
Name | Position | Field | Linkedin
| -- | -- | -- | -- |
G.T Upeka Vianthi Somaratne | Ph.D Candidate | Information Technology |

[2021-02-20 14:11] janethavi commented on #867
Will you be able to remove the padding between the card and the image? So it would be consistent. There is [another place](https://sefglobal.org/scholarx/2021/) we have these cards. So for consistency, we need to make all the cards look alike.

Also another few suggestions
1) Will you be able to make all the images the same size?
2) Will you be able to make the font a bit bigger than this? (It wil

[2021-02-20 14:20] janethavi opened #870 "Remove unwanted button in OneLive page"
**Describe the bug**
In the [OneLive Page](https://sefglobal.org/onelive/) `Take a look at our past One Lives` section there is a button called `SEE MORE`. But on other pages such as the [Team Page](https://sefglobal.org/team.html) `Alumni` section, there is just a hyperlink and no button.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to `Onelive Page`  and to the `Teams page`
2. See th

[2021-02-20 14:26] janethavi opened #871 "Remove unwanted button in OneLive Archive page"
**Describe the bug**
In the [OneLive Archive Page](https://sefglobal.org/onelive/archive/) there is a button called `LOAD MORE`. But on other pages such as the Team Page `Alumni section`, there is just a hyperlink and no button.

**To Reproduce**
Steps to reproduce the behavior:
1) Go to `Onelive Archive` Page and to the `Teams` page.
2) See the difference.

**Expected behavior**
The `LOAD MORE` b

[2021-02-20 14:58] AlexARNcode commented on #867
Hi,

The link you gave me as example is precisely what is asked to be changed, so I'm a bit confused now :

Should we make all cards look like Home page Our Projects cards (which is what I've understood), or should we make all cards look like Scholarx page, Featured Stories (which is what I understood that needed to be changed)?

Anyway, I understood your other 3 points.

Sorry if my questions are

[2021-02-20 15:08] #868 closed, assigned to nobody

[2021-02-20 15:30] janethavi commented on #867
Sorry if this made any confusions. I explain a bit more.
1) The card edges need to be curved so the **card** should look like the card which is on the [Home page](https://sefglobal.org/).
2) The **content** on the card should be something like in the [ScholarX](https://sefglobal.org/scholarx/2021/) card. This means the image should be fitted to the card size and there should be no padding between

[2021-02-20 16:32] josemsanchez commented on #870
Can you assign this to me?

[2021-02-20 16:36] janethavi commented on #870
Sure! Go Ahead 👍

[2021-02-20 18:11] AlexARNcode commented on #867
Don't be sorry mate, I should be the one to be :D !

Here it is (_please click on the image to view it full size_) :

![sef-site-cards-wip](https://user-images.githubusercontent.com/53975649/108604918-172a8400-73b1-11eb-8ffd-be27df01dd7d.png)

What font did you want to increase ? The title, the author, the "x min read", or a mix of that?

[2021-02-20 20:07] nejawittatchy commented on #869
I would like to work with this.

[2021-02-21 05:37] Gravewalker666 commented on #869
Hello @nejawittatchy yeah sure, go for it.

[2021-02-21 06:13] YaiyaSam commented on #871
Hey, i would like to work on this

[2021-02-21 06:15] Gravewalker666 commented on #871
Hello @YaiyaSam,
Sure dude

[2021-02-21 09:34] #871 closed, assigned to YaiyaSam

[2021-02-21 11:51] janethavi commented on #867
Wonderful work @AlexARNcode!  Will you be able to increase the title font size a bit more? Also, the author name needs to be increased a bit more too. But the author name font size should be less than the title font size.

[2021-02-21 13:48] AlexARNcode commented on #867
Thanks @janethavi :) !

Here you go :

![Screenshot_2021-02-21 ScholarX Sustainable Education Foundation](https://user-images.githubusercontent.com/53975649/108627028-b2743580-7453-11eb-95ee-637269814324.png)

Another thing : I realized that the first card's link is broken (https://blog.sefglobal.org/2019/11/scholarx-class-of-2019-sx19/). Should I change that in the same time, or will it be for an

[2021-02-21 15:43] janethavi commented on #867
Thank you for all the hard work @AlexARNcode! You have done a great job. You can put a PR. Me and another person will review it.
And for the blog link issue, will you be able to create an issue?

[2021-02-24 14:26] ashwindevx commented on #858
Hey @kangkanjr

I'm looking to contribute to this issue.

Can you tell which folder has `Take a look at our past One Lives` code? I can't find it.

[2021-02-24 15:20] kangkanjr commented on #858
@ashwindevx the task seemed quite easy but the documentation of the code base is not done properly, so I couldn't do too.

[2021-02-25 06:54] ashwindevx commented on #858
@janethavi can you help?

[2021-02-26 13:53] #842 closed, assigned to anjula-sack

[2021-02-26 15:19] anjula-sack opened #877 "Update the mentor images"
**Is your feature request related to a problem? Please describe.**
- We need to update the mentor images in scholarX.

**Describe the solution you'd like**
- Update the images
https://drive.google.com/drive/u/4/folders/1WoRLdKxt6DDtrgUkFD92PDSnYT-MJR4v

[2021-02-26 16:30] jayasanka-sack commented on #858
@ashwindevx I think this is the code you are looking for:
https://github.com/sef-global/sef-site/blob/28918a31433c5299343f8198dfe57007bc6427a7/onelive/index.html#L315

It's using mustache.js to render the cards. Editing the template would sufficient.

[2021-02-27 03:50] akshika47 opened #880 "Removing an Unnecessary Section"
**Describe the bug**
Need to remove the section shown in the screenshot from the "Team Page" as it doesn't add value and distracts the people who visit the page.

**To Reproduce**

**Expected behaviour**
Remove "Meet Our Team
Success of every organization depends on the team
and we got the "right" team" Section

**Screenshots**
If applicable, add screenshots to help explain your problem.
![image](

[2021-02-27 03:56] akshika47 opened #881 "Responsive Problem with Project Logos"
**Describe the bug**
When reducing the size of the web browser or the mobile view. The logos of the projects over-flows of their respective container (box).

**To Reproduce**
Steps to reproduce the behavior:
1. Reduce the size of the browser or check-in mobile view

**Expected behavior**
Logos should stay within their container.

**Screenshots**
If applicable, add screenshots to help explain your

[2021-02-27 09:56] 96RadhikaJadhav commented on #880
@akshika47 Can I work on the issue?

[2021-02-27 12:54] #877 closed, assigned to anjula-sack

[2021-02-27 13:43] janethavi commented on #858
Hi @ashwindevx! Shall I assign you to this issue?

[2021-02-27 14:01] janethavi commented on #880
Hi @akshika47, a small opinion on this.
I also agree that this section doesn't add any value to the site. But if we talk from the site consistency perspective, all the other pages have a small introduction and a vector image on top. By removing this section this page might look odd when comparing with other pages. WDYT if we add a vector image to this section instead of removing the section?

[2021-02-27 21:07] akshika47 commented on #880
Thank you for your suggestion @janethavi
So, we initially had a hero image for this page and we removed it, but this section was left for some reason which I don't know why. We need to update all the web pages I agree and I think we should add relevant hero images, ideally of real people and SEF related images.

Since the team page already has people, we can remove this. After that let's put in a

[2021-02-28 02:56] akshika47 commented on #880
@96RadhikaJadhav please work on this!

@janethavi let's have a chat regarding website UI upgrades in today's general meeting.

[2021-02-28 06:07] hachi-studio commented on #881
@akshika47 I can fix this for you, feel free to assign it to me!

[2021-02-28 07:32] hachi-studio commented on #881
On a side note I think the cards should go into a single col layout at a different breakpoint as it currently is display as a 3 col layout at 576px

[2021-02-28 08:16] akshika47 commented on #881
@janethavi would you be able to review this PR?

[2021-03-01 08:36] #881 closed, assigned to hachi-studio

[2021-03-01 12:26] akshika47 opened #886 "Adding new Mentor Profile and Fixing minor changes of existing mentors"
**Is your feature request related to a problem? Please describe.**
Adding new mentor details and fixing image size problem

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

[2021-03-01 12:48] #886 closed, assigned to akshika47

[2021-03-01 16:55] #880 closed, assigned to 96RadhikaJadhav

[2021-03-02 11:06] #821 closed, assigned to nobody

[2021-03-03 05:55] akshika47 opened #889 "Update Team Page"
**Is your feature request related to a problem? Please describe.**
Team Page Needs to be updated as it is outdated.

**Describe the solution you'd like**
1. Move retired volunteers to the Alumni Section
2. Add the latest volunteers to the Team page.

**Describe alternatives you've considered**
N/A

**Additional context**
This Issue needs more information to complete. Therefore, the person who work

[2021-03-08 15:57] anjula-sack opened #890 "Update the mentor profiles"
**Is your feature request related to a problem? Please describe.**
- There's some updates need to be done in some mentor profiles

**Describe the solution you'd like**
- Update the relevant profiles

[2021-03-08 17:39] #890 closed, assigned to anjula-sack

[2021-03-12 15:08] akshika47 commented on #889
@janethavi @jayasanka-sack shall we get this issue started? I have already created a Google form and shared it with the ScholarX team to gather head-shots. They are stored in the SEF Gmail Google Drive.

[2021-03-13 13:50] janethavi commented on #889
Sure @akshika47! Is the data collection completed? So we can use the sheet to update the website.

[2021-03-13 13:51] #870 closed, assigned to josemsanchez

[2021-03-13 19:43] akshika47 commented on #889
Yes, I have shared a Google Sheet with you. The second sheet contains details that are required for this issue.

[2021-03-16 05:23] #889 closed, assigned to nobody

[2021-03-16 09:43] jayasanka-sack opened #894 "Update the application form"
**Is your feature request related to a problem? Please describe.**
The apply.html page should be updated with the new application form.

**Describe the solution you'd like**
https://github.com/sef-global/sef-site/blob/dae6d8fd87045067f356ababe7eba1a4b4c6fe70/apply.html#L53
Replace the form link with the following:
https://docs.google.com/forms/d/e/1FAIpQLSdmgzDfHQkCi8YoOcH1god-uFqNL0HMPfu3YarHl5OI

[2021-03-16 09:45] kumuditha-udayanga commented on #894
Can I work on this issue?

[2021-03-16 09:45] jayasanka-sack commented on #894
Sure, go ahead!

[2021-03-16 09:58] #894 closed, assigned to kumuditha-udayanga

[2021-03-23 09:36] YaiyaSam commented on #805
Hey, I'd like to work on this

[2021-03-23 10:03] Gravewalker666 commented on #805
Sure, go ahead

[2021-03-24 08:26] #805 closed, assigned to nobody

[2021-03-26 12:13] YaiyaSam commented on #858
hey, i would like to work on this

[2021-03-26 15:38] janethavi commented on #858
Sure @YaiyaSam! go ahead

[2021-03-27 06:29] #858 closed, assigned to YaiyaSam

[2021-04-03 04:03] janethavi opened #898 "Title consistency issues"
**Describe the bug**
Currently, there are various title consistency issues. In some places there are titles with all caps, bold, the CSS classes are different to each other. Font colours are slightly different. Therefore the titles should be consistent throughout the website.

**To Reproduce**
Steps to reproduce the behavior:
1. Check pages individually in the entire site.

**Expected behavior**
A

[2021-04-03 04:29] janethavi opened #900 "Remove unwanted directory and resources"
**Describe the bug**
There is an unwanted directory that is not a part of the website. Remove the `examples` directory from the codebase. In that directory, there is a page called team.html On that page there are some profile images. Those profile images should also be removed from the repository. The corresponding JSON file should also be removed. It can be found in `assets/content/json/dummy-pro

[2021-04-04 03:42] YohanAvishke opened #901 "Design and Develop a consistent Footer"
**Is your feature request related to a problem? Please describe.**
There are different footers for each page in the site.

**Describe the solution you'd like**
We need to design a Footer for the whole website and then develop it accordingly.

**Additional context**
There are two tasks of designing and developing. Each will have a week to complete.

[2021-04-04 06:00] YaiyaSam commented on #900
Hi, can you assign me to this issue?

[2021-04-04 07:23] Gravewalker666 commented on #900
@YaiyaSam Awesome, go ahead

[2021-04-04 11:00] #900 closed, assigned to YaiyaSam

[2021-04-05 04:54] #898 closed, assigned to janethavi

[2021-04-05 10:35] janethavi opened #903 "Remove example directory of images from the repository"
**Describe the bug**
In the `/assets/img/` location there is a directory called examples. Double-check to confirm those images are not in use and remove the entire `/examples` directory.

**To Reproduce**
Steps to reproduce the behavior:
1. Open the repo.
2. Go to `/assets/img/` location

[2021-04-05 11:30] janethavi opened #904 "Spelling mistake in archive ScholarX page(2019)"
**Describe the bug**
In the `https://sefglobal.org/scholarx/archive/2019/` There are two FAQ sections for mentors.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'https://sefglobal.org/scholarx/archive/2019/'
2. Scroll down and find both sections

**Expected behavior**
The second section should be changed to  `FAQ for Mentees`

[2021-04-05 16:08] gajindubandara commented on #903
Can you assign this to me?

[2021-04-05 16:10] janethavi commented on #903
Sure @gajindubandara Go ahead!

[2021-04-05 21:31] sabiat commented on #904
Sorry, I should have asked to have this assigned to me before working on it. Is it ok that I worked on it?

[2021-04-06 02:51] #904 closed, assigned to nobody

[2021-04-06 06:22] #903 closed, assigned to gajindubandara

[2021-04-06 06:37] janethavi opened #907 "Hitcount Badge not working"
**Describe the bug**
In the README.md file the `Hit Count` Badge is not working. The domain of the URL should be changed to `.com` insdead of `.io`
`[![HitCount](http://hits.dwyl.com/sef-global/sef-site.svg)]`

**To Reproduce**
Steps to reproduce the behavior:
1. Check out the repository README.md file
4. See the hit count badge

**Expected behavior**
The hitcount should work.

**Screenshots**
![S

[2021-04-06 19:56] nejawittatchy commented on #907
I would like to work with this

[2021-04-07 03:27] anjula-sack commented on #907
Sure. Go ahead! @nejawittatchy

[2021-04-10 13:56] janethavi opened #908 "Switch cards in the Scholarx archive page"
**Describe the bug**
On the `https://sefglobal.org/scholarx/archive/` page we have 2019 card 1st and 2020 card afterwards. It would be much better if we can have the 2020 card 1st and 2019 card afterwards.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'https://sefglobal.org/scholarx/archive/'
2. Scroll down to 'Take a look at our past ScholarX' section
3. See on the left side we have

[2021-04-10 14:02] janethavi opened #909 "Remove warning notification on scholarx 2020 page"
**Describe the bug**
In the [https://sefglobal.org/scholarx/archive/2020/](https://sefglobal.org/scholarx/archive/2020/) page a warning message pops on top.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to [https://sefglobal.org/scholarx/archive/2020/](https://sefglobal.org/scholarx/archive/2020/)
2. See the warning message saying `Please notice that application for scholarX has been cl

[2021-04-10 14:15] janethavi opened #910 "Remove the old version of ISSUE_TEMPLATE"
**Describe the bug**
The old version of `ISSUE_TEMPLATE` can be found on the repository `sef-site/ISSUE_TEMPLATE.md` This is an old version of `ISSUE_TEMPLATE.md`. We currently use the new version of the issue template (`sef-site/.github/ISSUE_TEMPLATE/`).

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'sef-site/ISSUE_TEMPLATE.md' in the repository

**Expected behavior**
Remove the ol

[2021-04-11 08:25] YaiyaSam commented on #909
Hey, can I work on this?

[2021-04-11 09:31] janethavi commented on #909
Sure go ahead! @YaiyaSam

[2021-04-11 11:11] #909 closed, assigned to YaiyaSam

[2021-04-12 13:37] gajindubandara commented on #908
Can you assign this to me?

[2021-04-12 13:38] gajindubandara commented on #910
Can you assign this to me?

[2021-04-13 03:36] #910 closed, assigned to gajindubandara

[2021-04-13 04:51] #908 closed, assigned to gajindubandara

[2021-04-17 05:53] janethavi opened #914 "Nav bar some font-awesome icons are missing"
**Describe the bug**
On the nav-bar blog and join us font-awesome icons are missing

**To Reproduce**
Steps to reproduce the behavior:
1. Go to any page
2 Load page on mobile view
3. Click navbar hamburger icon
4. Check issue

**Expected behavior**
All the options need to have font awesome icon

[2021-04-17 06:05] janethavi opened #916 "On mobile view homepage carousel is not vissible properly"
**Describe the bug**
On the home page testimonials carousel section is not properly visible on the mobile view

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'home'
2. Scroll down to `testimonies` section
3. Load the page on mobile view
4. See the issue

**Expected behavior**
The carousel with testimonies should be properly visible

**Screenshots**
![Screenshot from 2021-04-17 11-29-1

[2021-04-17 14:00] janethavi opened #917 "Remove unwanted content from the scholarx2020 archive page"
**Describe the bug**
On the [scholarx2020 page](https://sefglobal.org/scholarx/archive/2020/), there are some unwanted content that needs to be removed.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to [https://sefglobal.org/scholarx/archive/2020/](https://sefglobal.org/scholarx/archive/2020/)
2. Scroll down until FAQ for mentors, FAQ for mentees, Take a look at our past ScholarX and Fi

[2021-04-17 14:04] janethavi opened #918 "Remove unwanted content from the scholarx2019 archive page"
**Describe the bug**
On the [scholarx2019](https://sefglobal.org/scholarx/archive/2019/) page, there are some unwanted content that needs to be removed.

**To Reproduce**
Steps to reproduce the behavior:
1) Go to [https://sefglobal.org/scholarx/archive/2019/](https://sefglobal.org/scholarx/archive/2019/)
2) Scroll down until FAQ for mentors, FAQ for mentees, Find a mentor for me

**Expected behavi

[2021-04-18 18:15] janethavi opened #919 "Create a table for 2019 scholarx mentees"
**Is your feature request related to a problem? Please describe.**
In the archive section of scholarx2019 a table needs to be created to add the mentees to the website.

**Describe the solution you'd like**
The table should contain an image, name, mentor and the university or a single mentee. When clicked on a single mentee the LinkedIn profile should be redirected. The data file can be found [her

[2021-04-19 04:38] #919 closed, assigned to janethavi

[2021-04-19 04:39] #914 closed, assigned to janethavi

[2021-04-19 13:55] gajindubandara commented on #918
Can you assign this to me?

[2021-04-19 13:55] gajindubandara commented on #917
Can you assign this to me?

[2021-04-19 14:39] janethavi opened #921 "Create a table for 2020 scholarx mentees"
**Is your feature request related to a problem? Please describe.**
In the archive section of scholarx2020 a table needs to be created to add the mentees to the website.

**Describe the solution you'd like**
The table should contain an image, name, mentor and the university or a single mentee. When clicked on a single mentee the LinkedIn profile should be redirected. The data file can be found [her

[2021-04-19 16:49] #917 closed, assigned to gajindubandara

[2021-04-20 12:05] YaiyaSam commented on #921
Hey, I would like to work on this

[2021-04-20 12:12] janethavi commented on #921
Sure go ahead! @YaiyaSam

[2021-04-20 15:41] nejawittatchy opened #926 "Student Ambassador page not responsive in larger screens"
****Describe** the bug**
In the Student Ambassador page the image is too large in large screen view.
**To Reproduce**
Steps to reproduce the behavior:
1. Go to Projects
2. Click on Student Ambassador
3. Scroll down
4. See error

**Expected behavior**
The image should be smaller and right aligned.

**Screenshots**
<img width="1437" alt="Screenshot 2021-04-20 at 20 39 21" src="https://user-images.gi

[2021-04-21 05:41] #918 closed, assigned to gajindubandara

[2021-04-21 05:47] #907 closed, assigned to nejawittatchy

[2021-04-21 13:09] Gimhan-minion opened #927 "Use an iframe to view academix"
**Is your feature request related to a problem?**
- Current Academix project is deployed on EC2 instance.

**Describe the solution you'd like**
- To make it visible on site, Use a fullscreen iframe.

[2021-04-22 03:27] akshika47 commented on #916
Thank you for picking this up! I also had the same problem.

[2021-04-23 06:02] #921 closed, assigned to YaiyaSam

[2021-04-23 06:08] #927 closed, assigned to nobody

[2021-04-23 06:11] Gimhan-minion opened #930 "Link Academix to the website"
**Is your feature request related to a problem?**
- Currently Academix project is up and running at http://apps.sefglobal.org/academix/

**Describe the solution you'd like**
- Use the above link and make it visible on site. (in the navbar & cards on the homepage)

[2021-04-23 06:21] #930 closed, assigned to nobody

[2021-04-25 17:19] Gravewalker666 opened #933 "Create a new page to display selected mentees and their respective mentors"
**Is your feature request related to a problem? Please describe.**
Need a new page to display scholarx 2021 selected mentees and their respective mentors

**Describe the solution you'd like**
Create a JSON file for mentees and populate them in a tabular view.

[2021-04-26 13:23] #933 closed, assigned to Gravewalker666

[2021-04-26 14:58] Gravewalker666 opened #935 "Update ScholarX 2021 Selected Page Heading"
**Describe the solution you'd like**
Change the heading from `ScholarX 2021 - Selected Students` to `ScholarX 2021 Provisional student matches`

[2021-04-26 15:02] #935 closed, assigned to nobody

[2021-04-29 16:58] jayasanka-sack opened #937 "Remove Gitter link from the footer"
**Is your feature request related to a problem? Please describe.**
We don't maintain the Gitter channel anymore. Therefore, we have to remove it from the site.

**Describe the solution you'd like**
Remove the gitter icon from the footer.

<img width="1366" alt="PNG image" src="https://user-images.githubusercontent.com/33048395/116589768-9e105580-a93a-11eb-8277-ef042f280fed.png">

[2021-04-29 17:03] pasindur99 commented on #937
May I work on this issue?

[2021-04-29 17:03] jayasanka-sack commented on #937
Sure @pasindur99 ! Go ahead!

[2021-04-30 14:06] #937 closed, assigned to pasindur99

[2021-05-01 14:09] pasindur99 commented on #916
I would like to work on this.!

[2021-05-05 13:29] YaiyaSam opened #940 "Remove Scholarx 2021 application form link from scholarx 2021 page"
**Is your feature request related to a problem? Please describe.**
Since the window of time for accepting applications for Scholarx 2021 has expired, the application form link must be removed from scholar 2021 page.

**Describe the solution you'd like**
The section shown in the screenshot below must be removed https://sefglobal.org/scholarx/2021 page

**Screenshots**
![Screenshot from 2021-05-05 1

[2021-05-05 13:56] #940 closed, assigned to nobody

[2021-05-05 14:38] #916 closed, assigned to pasindur99

[2021-05-08 13:49] janethavi opened #942 "Inconsistency in the scholarx archive cards"
**Describe the bug**
In the scholarx [archive page](https://sefglobal.org/scholarx/archive/) there are two cards at the bottom for 2019 and 2020. Those cards are different from the home page cards.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to [archive page](https://sefglobal.org/scholarx/archive/)
2. Scroll down to the archive page
3. See the inconsistency

**Expected behavior**
Tho

[2021-05-08 13:57] janethavi opened #943 "Make the archive cards of scholarx clickable"
**Is your feature request related to a problem? Please describe.**
2019 and 2020 cards in the [archive page ](https://sefglobal.org/scholarx/archive/), the cards are not clickable.
Currently in order to view the 2019 or 2020 page the `View More` link needs to be clicked.

**Describe the solution you'd like**
It would be nice if the archive cards are clickable. It would be nice if we can add the li

[2021-05-10 13:49] kumuditha-udayanga commented on #942
@janethavi, Can i work on this issue.

[2021-05-13 09:15] jayasanka-sack commented on #942
I gues we have a PR for this

[2021-05-13 14:25] #943 closed, assigned to nobody

[2021-05-23 12:19] Gimhan-minion opened #947 "Add a "Show Less" button to Onelive page"
**Is your feature request related to a problem?**
- On the current OneLive page there is a section for speakers. In that section, there is a "Show more" button to load all the remaining speakers. Once the user clicks on this button user cannot contract back the speakers section.

**Describe the solution you'd like**
- To add a Show less button to contract this section once it's expanded.

**Additi

[2021-05-23 12:22] gajindubandara commented on #947
I would like to work on this

[2021-05-27 15:02] #947 closed, assigned to gajindubandara

[2021-05-28 07:15] janethavi opened #949 "Add blog posts of ScholarX mentees in 2019"
**Is your feature request related to a problem? Please describe.**
The ScholarX mentees in 2019 have created blog posts during the time of mentoring. But these blog posts are not mentioned on the website.

**Describe the solution you'd like**
Currently in the [ScholarX-19](https://sefglobal.org/scholarx/archive/2019/) page, there is a table for mentees. When a mentee is clicked, his/her LinkedIn p

[2021-05-28 07:16] Gravewalker666 commented on #949
we aren't using blue coloured backgrounds right??

[2021-05-28 07:37] janethavi commented on #949
Sorry, I actually designed the card to show the structure. Anyways I updated the image above.

[2021-05-28 07:51] janethavi opened #950 "Add blog posts of ScholarX mentees in 2020"
**Is your feature request related to a problem? Please describe.**
The ScholarX mentees in 2020 have created blog posts during the time of mentoring. But these blog posts are not mentioned on the website.

**Describe the solution you'd like**
Currently in the [ScholarX-20 page](https://sefglobal.org/scholarx/archive/2020/), there is a table for mentees. When a mentee is clicked, his/her LinkedIn p

[2021-05-28 08:01] janethavi commented on #942
Fixed with #945

[2021-05-28 08:01] #942 closed, assigned to nobody

[2021-05-28 15:51] YaiyaSam commented on #949
can I work on this?

[2021-05-28 16:03] janethavi commented on #949
Sure @YaiyaSam go ahead!

[2021-05-29 07:29] janethavi opened #951 "Fix Join us page button colour"
**Describe the bug**
On the join us page, the button colour changes to a different colour in the mobile view.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to [https://sefglobal.org/join-us.html](https://sefglobal.org/join-us.html)
2. Go to mobile view
3. Check the `Learn More` button

**Expected behavior**
The mobile view button colour should also be the desktop view button colour. Use

[2021-05-29 07:37] janethavi opened #952 "Fix Student Ambassadors page button colour"
**Describe the bug**
On the Student Ambassador's page, the button colour changes to a different colour in the mobile view.

**To Reproduce**
1. Steps to reproduce the behavior:
2. Go to [https://sefglobal.org/student-ambassador.html](https://sefglobal.org/student-ambassador.html)
3. Go to mobile view
4. Check the Learn More button

**Expected behavior**
The mobile view button colour should also be

[2021-05-29 07:53] gajindubandara commented on #951
I would like to work on this

[2021-05-29 07:54] gajindubandara commented on #952
I would like to work on this

[2021-05-29 08:35] janethavi commented on #952
Sure go ahead @gajindubandara!

[2021-05-29 08:36] janethavi commented on #951
Go ahead @gajindubandara!

[2021-05-29 17:00] janethavi opened #953 "Add research interns 2020"
**Describe the bug**
The research Interns section is missing in the [IRC page](https://sefglobal.org/irc.html).

**To Reproduce**
Steps to reproduce the behavior:
1. Go to [https://sefglobal.org/irc.html](https://sefglobal.org/irc.html)
2. Scroll down to `Researchers` section
3. See that Research Interns section is missing

**Expected behavior**
This sections needs to be filled with the data which

[2021-05-30 16:10] akshika47 commented on #949
@janethavi I feel this design is a bit too clunky. Don't you think?

[2021-05-30 16:39] janethavi commented on #949
Hi ,
I put this design because we currently have the exact same card in the [mentors section of ScholarX-21](https://sefglobal.org/scholarx/2021/). Will you be able to give a suggestion for a design?

[2021-05-30 16:56] jayasanka-sack commented on #949
Maybe @YaiyaSam is already working on it, if not, let me put my two cents in. haha

We should definetly include these blogs on our page; it will works as a social proof. However I'm not sure whether we need to maintain something like a mentee profile.

One suggestion would be - we could leverage on the feature stories section. So that we could load the blogs dynamically with their name. [ See atta

[2021-05-31 05:14] YaiyaSam commented on #949
I didn't start yet 😄 Let me know what needs to be done!

[2021-05-31 17:38] #952 closed, assigned to gajindubandara

[2021-05-31 17:39] #951 closed, assigned to gajindubandara

[2021-06-01 01:27] akshika47 commented on #949
@jayasanka-sack I like the separate column idea, can someone create some mock UI first? When we have a separate section, we can have feature blog posts as well, but it is not a necessity.

[2021-06-01 04:39] gajindubandara opened #957 "Add "SEE LESS" buttons to Scholarx,IRC and Team pages"
**Describe the bug**
On the profiles section, there is only a "SEE MORE" button to load all the other profiles. After clicking the button there is no "SEE LESS" button to contract profiles

**Expected behavior**
Add the "SEE LESS" button to the Scholarx, IRC, and Team pages

[2021-06-01 12:20] akshika47 commented on #949
I just read the content of the wire-frame @jayasanka-sack  Lol

[2021-06-02 05:23] Gravewalker666 opened #959 "Create a new page for sharable developer badges"
**Is your feature request related to a problem? Please describe.**
We need a new page to be shared with the developers who achieve certain dev badges.

**Describe the solution you'd like**
- Create a new page under `/developers` with two URL parameters to get the username and the badge.
- Set a fitting preview meta image for the link to be shown when shared on social media platforms

[2021-06-02 14:23] janethavi commented on #949
Hello,

By taking @jayasanka-sack's suggestion and @akshika47's opinion, I redesigned the UI as suggested. So this will be the same table that we can find on the [ScholarX-19 page](https://sefglobal.org/scholarx/archive/2019/).

**Explanation:-** I added a new column to display the blog names that each mentee has created. The blog name will be the link to the original article.

**Please Note:-** W

[2021-06-02 17:16] #959 closed, assigned to Gravewalker666

[2021-06-04 05:52] wathsala-vishwajith opened #963 "Mentor linkedin hyperlinks in selected mentees 2021 are redirecting into a broken page"
**Describe the bug**
Some mentor linkedin account hyperlinks are broken and redirecting giving out 404.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to [sefglobal](https://sefglobal.org/scholarx/2021/selected/)
2. Scroll down to Mentor Kasun Bandara
4. Click the hyperlink to see the error

**Expected behavior**
Links should be redirecting to linkedin correctly.

**Screenshots**
![image

[2021-06-04 10:17] janethavi commented on #963
Fixed with #962

[2021-06-04 10:17] #963 closed, assigned to wathsala-vishwajith

[2021-06-04 22:35] #957 closed, assigned to nobody

[2021-06-15 07:37] Gimhan-minion opened #965 "Implement a new webpage for UpSpeak"
**Is your feature request related to a problem?**
- We need to create a new webpage for the Upspeak program

**Describe the solution you'd like**
- Create a new page using the following content.

**Description :**
UpSpeak
Over the last few years of delivering SEF-initiated programs, we noticed one of the biggest challenges faced by undergraduate students was their ability to speak in English. Whil

[2021-06-15 07:38] gajindubandara commented on #965
I would like to work on this

[2021-06-15 07:38] Gimhan-minion commented on #965
Sure! Make sure you create a hive thread before start working on this.

[2021-06-15 07:39] gajindubandara commented on #965
Ok sure

[2021-06-16 05:30] jayasanka-sack commented on #965
Let's move this into a hive thread and finalize a wireframe or a mockup. From now on, let's avoid creating issues for this kind of implementations that needs a design phase. (Requirement -> Design -> Implementation)

Closing the issue for now. Feel free to reopen when the task is ready.

cc: @janethavi @YohanAvishke @Gravewalker666 @Piumal1999 @anjula-sack

[2021-06-16 11:10] #869 closed, assigned to nejawittatchy

[2021-06-20 07:14] #953 closed, assigned to janethavi

[2021-06-21 10:52] janethavi opened #969 "Fix broken link in medium post"
**Describe the bug**
In the ScholarX-2021 and ScholarX-2020 featured stories section, the first blog post(ScholarX Class of 2019 | SX19) has a broken link. Also, the read time is wrong.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to [ScholarX-21](https://sefglobal.org/scholarx/2021/) and [ScholarX-20](https://sefglobal.org/scholarx/archive/2020/)
2. Scroll down to `Featured Stories` s

[2021-06-21 11:25] janethavi opened #970 "Differentiate a section in ScholarX-21(use the default white background)"
**Describe the bug**
In the [ScholarX-21](https://sefglobal.org/scholarx/2021/) page, the `Take a look at our past ScholarX` has the same background as the previous section. Therefore that section is not getting highlighted and it wont see as a separate section.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to [ScholarX-21](https://sefglobal.org/scholarx/2021/) page.
2. Scroll down to `

[2021-06-21 18:41] deeola commented on #969
Hell janethavi, I would love to work on this

[2021-06-21 18:47] janethavi commented on #969
Sure go ahead! @deeola

[2021-06-21 19:19] deeola commented on #969
Thanks for assigning me. I am through with it but i'm having issues pushing it due to 403 error, is this something i need to fix from my end?

[2021-06-21 19:25] janethavi commented on #969
Looks like you have not forked the repository. You need to fork this repository and then clone the forked repository to do the fix. Check this [link ](https://www.freecodecamp.org/news/how-to-make-your-first-pull-request-on-github-3/)to get an idea about forking and creating a pull request

[2021-06-21 20:03] deeola commented on #969
Yes, thank you. I created a pull request already.

[2021-06-22 08:56] Gimhan-minion opened #972 "Link SEF youtube channel to the footer"
**Is your feature request related to a problem?**
- Current SEF youtube channel is not mentioned on the website.

**Describe the solution you'd like**
- Create a youtube icon alongside with rest of the social media icons in the footer.
- Youtube Channel - https://www.youtube.com/channel/UClw7QbeW_FOJz_fDMvjXsJw

[2021-06-22 08:56] gajindubandara commented on #972
I would like to work on this

[2021-06-22 09:20] #972 closed, assigned to gajindubandara

[2021-06-22 09:23] #965 closed, assigned to gajindubandara

[2021-06-22 10:37] deeola commented on #970
Hello, can i work on this issue?

[2021-06-22 11:13] #969 closed, assigned to deeola

[2021-06-22 11:14] janethavi commented on #970
Sure go ahead! @deeola

[2021-06-24 09:08] miniskynet opened #976 "Profiles section of Scholarx, IRC and Team pages does not scroll up when "SEE LESS" button is clicked"
**Describe the bug**
A "SEE LESS" button was implemented recently to the profiles sections of Scholarx,IRC and Team pages. However once the "SEE LESS" button is clicked, the page does not scroll up to the former profile section view, instead it remains at the lower end of the page in the "Frequently Asked Questions" section(or lower), which removes the profiles section from view.

**To Reproduce**

[2021-06-24 09:37] miniskynet commented on #976
Hey @Gravewalker666 can you please assign this issue to me?
I can't seem to find a way. Thank you :)

[2021-06-24 09:38] Gravewalker666 commented on #976
Yeah sure @miniskynet 🙂

[2021-06-24 11:41] miniskynet commented on #976
@Gravewalker666 thanks again. Is there any way to contact you if I run into issues?

[2021-06-24 11:54] Gravewalker666 commented on #976
Yup @miniskynet you can ping for me here in this issue itself or in our slack group

[2021-06-25 07:21] miniskynet commented on #976
@Gravewalker666 I tried to solve this issue by adding an onclick event to the "SEE LESS" button, which would scroll to the "Speakers" topic. However that does not seem to work. Is it because there are dynamic elements in the webpage?
Thanks in advance.

[2021-06-27 05:20] janethavi opened #977 "Remove not used HTML file"
**Describe the bug**
template.html file is not used on the site.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to [https://github.com/sef-global/sef-site](https://github.com/sef-global/sef-site)
2. See the `template.html` file

**Expected behavior**
template.html file should be deleted from the repository

[2021-06-27 05:25] janethavi opened #978 "Remove gitter chat badge"
**Describe the bug**
Gitter is no longer used.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to [https://github.com/sef-global/sef-site](https://github.com/sef-global/sef-site)
2. See the `Gitter Join chat badge` on the README.md file

**Expected behavior**
Remove the Gitter badge from the `README.md` file

[2021-06-27 06:04] gajindubandara commented on #977
I would like to work on this

[2021-06-27 06:04] gajindubandara commented on #978
I would like to work on this

[2021-06-27 06:06] janethavi commented on #977
Sure go on @gajindubandara!

[2021-06-27 06:06] janethavi commented on #978
Sure go on @gajindubandara

[2021-06-27 08:36] #978 closed, assigned to gajindubandara

[2021-06-27 08:37] #977 closed, assigned to gajindubandara

[2021-06-27 10:30] janethavi opened #982 "Fix surge preview deployment"
**Describe the bug**
When a pull request is made, travis-ci.org will be triggered and the surge script will be executed to create the preview link. But from June 15 2021 onwards travis-ci.org was ceased. Therefore the preview link for a pull request will not be created.

**To Reproduce**
Steps to reproduce the behavior:
1. Check the pull request links which were created after June 15th.

**Expecte

[2021-06-27 11:33] akshika47 commented on #976
@anjula-sack do you happen to know how to fix this?

[2021-06-27 13:09] anjula-sack commented on #976
Can't we use  `<a>` like this, `<a href="#idOfTheDiv">SEE MORE</a>` @miniskynet

[2021-06-27 13:57] miniskynet commented on #976
@anjula-sack hey thank you for the response. Are you recommending to convert the "SEE LESS" button into a hyperlink from `<button id="btnShowLess" class="btn btn-link btn-outline-white btn-info">SEE LESS</button>` to `<a href="#idOfTheDiv" id="btnShowLess" class="btn btn-link btn-outline-white btn-info">SEE LESS</a>` ?

[2021-06-27 14:00] miniskynet commented on #976
I tried it @anjula-sack
It seems to work! Thank you :)

[2021-06-27 14:47] anjula-sack commented on #976
yeah and the Id needs to be the id of the wrapper div of the profile so it will scroll to that div. @miniskynet

[2021-06-28 04:10] miniskynet commented on #976
what would happen if the Id is assigned to the `h1` tag instead?

[2021-06-28 07:41] gajindubandara opened #984 "Use a google sheet to the Onelive page instead of JSON file"
**Is your feature request related to a problem? Please describe.**
Currently, the Onelive page is using a  JSON file (speakers.json) to import data to the Onelive webpage. It's more efficient to use a google sheet to update the data than using a JSON file.

**Describe the solution you'd like**
1. Instead of using the JSON file, create a new google sheet and add the data into the sheet
2. Create a

[2021-06-28 13:45] akeel230 opened #986 "making changes in the CONTRIBUTING.md text , Because gitter channel in inactive"
**Is your feature request related to a problem? Please describe.**
The gitter channel is inactive since March 2021. We have a much active Slack channel.

**Describe the solution you'd like**
We can link the Slack channel instead of the gitter channel into the CONTRIBUTING.md To lead the developers into a more interactive channel.

**Describe alternatives you've considered**
We can use both Gitter

[2021-06-29 05:25] #986 closed, assigned to nobody

[2021-06-30 08:18] #976 closed, assigned to miniskynet

[2021-07-01 07:56] #984 closed, assigned to nobody

[2021-07-02 12:23] gajindubandara opened #989 "Use a google sheet to the IRC researcher's section instead of JSON file"
**Is your feature request related to a problem? Please describe.**
Currently, the IRC page is using a JSON file (assets/content/json/irc.json) to import data to the researcher's section. It's more efficient to use a google sheet to update the data than using a JSON file.

**Describe the solution you'd like**
1. Instead of using the JSON file, create a new google sheet and add the data into the she

[2021-07-02 16:19] janethavi opened #991 "Fix formating in the project menu Upspeak option"
**Describe the bug**
In the project list on the navigation bar, there is a project called `Upspeak`. The formatting should be similar to the logo. This small error can be found on the [UpSpeak](https://sefglobal.org/upspeak/) page title too.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to [https://sefglobal.org/](https://sefglobal.org/)
2. Click on the Projects menu from the navigation

[2021-07-03 03:58] #989 closed, assigned to nobody

[2021-07-03 04:02] gajindubandara opened #992 "Use a google sheet to the IRC Research Intern's section instead of JSON file"
**Is your feature request related to a problem? Please describe.**
Currently, the IRC page is using a JSON file (assets/content/json/irc_interns_2020.json) to import data to the researcher's section. It's more efficient to use a google sheet to update the data than using a JSON file.

**Describe the solution you'd like**
1. Instead of using the JSON file, create a new google sheet and add the data

[2021-07-04 04:25] gajindubandara opened #994 "Replace Onelive page images with Cloudinary URLs"
**Is your feature request related to a problem? Please describe.**
Use Cloudinary image hosting  service to import images to the Onelive page

**Describe the solution you'd like**
1. Use the below image URLs to update the image column in the google sheet

[code]

google sheet link- https://docs.google.com/spreadsheets/d/1XQI7aOokHIzbpoA5cyC5xum7EJA3tv599QUNds-d6HQ/edit?usp=sharing

2. Replace `/as

[2021-07-04 04:36] gajindubandara opened #995 "Use a google sheet to the ScholarX mentors's section instead of JSON file"
**Is your feature request related to a problem? Please describe.**
Currently, the ScholarX page is using a JSON file (scholarx/2021/mentors.json) to import data to the mentor's section. It's more efficient to use a google sheet to update the data than using a JSON file.

**Describe the solution you'd like**
1. Instead of using the JSON file, create a new google sheet and add the data into the shee

[2021-07-04 06:55] Gravewalker666 commented on #994
@gajindubandara can't we just use `https://res.cloudinary.com/dsxobn1ln/image/upload/v1625328841/Onelive_Speakers/{{image}}` and keep only the image names (ex: `harshi_vww08q.jpg`) on the google sheet column??

[2021-07-04 07:02] gajindubandara commented on #994
The problem is  the number after the `https://res.cloudinary.com/dsxobn1ln/image/upload/` is not the same in every URL

[2021-07-04 07:03] Gravewalker666 commented on #994
Ahh sorry, I didn't notice it

[2021-07-04 08:19] cmdrGuyson commented on #995
Can I please be assigned to this? @gajindubandara

[2021-07-04 10:42] #982 closed, assigned to janethavi

[2021-07-04 10:46] miniskynet commented on #991
Hello @janethavi can I work on this?

[2021-07-04 11:28] janethavi commented on #991
Sure go ahead @miniskynet!

[2021-07-05 06:16] miniskynet commented on #991
@janethavi hello can you please tell me where the page title is (I can only see the UpSpeak logo on the [page](https://sefglobal.org/upspeak/)).
Also it would be helpful if you can tell me the location for the navigation bar script. Thank you :)

[2021-07-05 06:23] janethavi commented on #991
Hi @miniskynet
The navigation bar script can be found [here](https://github.com/sef-global/sef-site/blob/master/assets/content/static/navbar.html). The title of the Upspeak page can be found [here](https://github.com/sef-global/sef-site/blob/master/upspeak/index.html#L19).

[2021-07-05 08:17] gajindubandara opened #997 "Replace IRC intern's images with Cloudinary URLs"
**Is your feature request related to a problem? Please describe.**
Use Cloudinary image hosting  service to import images to the Intern's section on the IRC page

**Describe the solution you'd like**
1. Use the below image URLs to update the image column in the google sheet

[code]

google sheet link- https://docs.google.com/spreadsheets/d/1FTd9p-EOs28nYUzLv91AvFu2qbD7Z7plLcj-oXUm76M/edit?usp=shar

[2021-07-05 08:17] gajindubandara commented on #997
I'm working on this

[2021-07-05 11:20] miniskynet commented on #991
@janethavi Thank you. I put a PR. Would be glad if you can check it out.

[2021-07-06 03:02] gajindubandara opened #1001 "Use a google sheet to the team page instead of JSON file"
**Is your feature request related to a problem? Please describe.**
Currently, the team page is using a JSON file (assets/content/json/team.json) to import data. It's more efficient to use a google sheet to update the data than using a JSON file.

**Describe the solution you'd like**
1. Instead of using the JSON file, create a new google sheet and add the data into the sheet
2. Create a google scri

[2021-07-06 03:09] gajindubandara opened #1002 "Replace IRC Researcher's images with Cloudinary URLs"
**Is your feature request related to a problem? Please describe.**
Use Cloudinary image hosting  service to import images to the researcher's section on the IRC page

**Describe the solution you'd like**
1. Use the below image URLs to update the image column in the google sheet

[code]

google sheet link- https://docs.google.com/spreadsheets/d/16tCOj7BfBF0mm61atXhKCohx79DibNZIZb8W7S7HUhM/edit?usp=

[2021-07-08 03:59] akeel230 opened #1005 "Adding the slack channel link to the Readme file"
**Is your feature request related to a problem? Please describe.**
Gitter channel was removed but hasn't been replaced with an active channel.

**Describe the solution you'd like**
Replace the already removed gitter channel with currently active slack channel

[2021-07-08 04:12] akeel230 commented on #1002
Please assign this issue to me, ill work on it @gajindubandara @Gravewalker666

[2021-07-08 04:32] jayasanka-sack commented on #1002
Assuming @gajindubandara isn't working on this issue.

[2021-07-08 04:33] gajindubandara commented on #1002
I'm not working on that

[2021-07-08 04:33] jayasanka-sack commented on #1002
Cool. @akeel230 please go ahead. :)

[2021-07-08 04:53] akeel230 commented on #1002
@jayasanka-sack thanks

[2021-07-08 04:58] akeel230 commented on #1005
Fixed this issue please take a look @jayasanka-sack @janethavi

[2021-07-08 06:52] #994 closed, assigned to nobody

[2021-07-08 07:17] #991 closed, assigned to miniskynet

[2021-07-08 08:10] #1005 closed, assigned to nobody

[2021-07-08 13:56] miniskynet commented on #1001
@gajindubandara Hello, I would like to work on this, but I'm afraid I have not done anything like this before. Would you please be able to give me guidance regarding this?
Thank you :)

[2021-07-08 18:48] janethavi commented on #1001
I assigned the issue to you @miniskynet. You can get help from @gajindubandara or from the SEF community.

[2021-07-09 03:31] gajindubandara commented on #1001
Sure!

[2021-07-09 06:25] miniskynet commented on #1001
Thank you @janethavi
@gajindubandara can you tell me how I can get started?

[2021-07-09 10:42] gajindubandara commented on #1001
First, add the data on the assets/content/json/team.json to a google sheet after that you can start writing the script

[2021-07-09 10:50] gajindubandara commented on #1001
@miniskynet  This is the script I used for the Onelive page. Get an idea from this

![Screenshot from 2021-07-09 16-18-14](https://user-images.githubusercontent.com/63200586/125067147-7f180780-e0d1-11eb-9bc0-fe9d819a6648.png)

[2021-07-09 12:05] #995 closed, assigned to cmdrGuyson

[2021-07-09 15:18] #992 closed, assigned to gajindubandara

[2021-07-09 15:19] #997 closed, assigned to gajindubandara

[2021-07-10 05:20] #1002 closed, assigned to akeel230

[2021-07-10 05:48] miniskynet commented on #1001
@gajindubandara do I need to make the google sheet with the SEF account?

[2021-07-10 06:01] gajindubandara commented on #1001
No, just create it with your account. After finishing the task transfer the ownership to the SEF account

[2021-07-10 06:08] gajindubandara opened #1011 "Onelive speaker's section has different image render sizes"
**Is your feature request related to a problem? Please describe.**
Onelive page speaker's section images have different render sizes. To make them consistent use the parameters to the image  URL

**Describe the solution you'd like**
* Use the scale parameter in the Cloudinary URL (onelive/index.html) to scale the image to the required size(150 x 150)
* Replace the `https://res.cloudinary.com/dsxob

[2021-07-10 06:09] gajindubandara commented on #1011
I'm working on this

[2021-07-10 09:25] #1011 closed, assigned to gajindubandara

[2021-07-11 05:15] akeel230 commented on #825
i havent worked on this kind of issue before, to add the share icon are we gonna use bootstrap? @janethavi

[2021-07-11 05:43] gajindubandara opened #1013 "IRC page has different image render sizes"
**Is your feature request related to a problem? Please describe.**
IRC page images have different render sizes. To make them consistent use the parameters to the image  URL

**Describe the solution you'd like**
* Use the scale parameter in the Cloudinary URL (irc.html) to scale the image to the required sizes
         * Use 150 x 150 to the researcher's images
         * Use 48 x 48  to research i

[2021-07-11 05:43] gajindubandara commented on #1013
I'm working on this

[2021-07-11 07:20] janethavi commented on #825
Sorry for the confusion @akeel230. Looks like this issue is no longer needed because the ScholarX registration forms are closed.

[2021-07-11 07:20] #825 closed, assigned to nobody

[2021-07-11 07:28] akeel230 commented on #825
Nah thats fine..😃

[2021-07-11 12:31] gajindubandara opened #1015 "Replace ScholarX 2020 JSON files with Google sheets"
**Is your feature request related to a problem? Please describe.**
Currently, the `Scholarx/archive/2020/ ` page is using JSON files (scholarx/archive/2020/mentees.json & scholarx/archive/2020/mentors.json) to import data . It's more efficient to use google sheets to update the data than using a JSON file.

**Describe the solution you'd like**
1 . Instead of using JSON files create two google shee

[2021-07-11 12:35] gajindubandara opened #1016 "Replace ScholarX 2019 JSON files with Google sheets"
**Is your feature request related to a problem? Please describe.**
Currently, the `Scholarx/archive/2019/ ` page is using JSON files (scholarx/archive/2019/mentees.json & scholarx/archive/2019/mentors.json) to import data . It's more efficient to use google sheets to update the data than using a JSON file.

**Describe the solution you'd like**
1 . Instead of using JSON files create two google shee

[2021-07-11 12:41] miniskynet commented on #1001
Hey @gajindubandara I have a few questions.
Is this format okay?
![image](https://user-images.githubusercontent.com/49517852/125195375-ed480000-e272-11eb-9071-65f414f1f1d5.png)
Should I make different sheets for different sections? (like advisory panel, external collaborators,  executive committee, etc. ) , or put them all in the same sheet?
![image](https://user-images.githubusercontent.com/49517

[2021-07-11 12:52] gajindubandara commented on #1001
@jayasanka-sack @Gravewalker666 Should we create separate sheets for the advisory panel, external collaborators, etc. or should we put them all in the same google sheet

[2021-07-11 12:55] gajindubandara commented on #1001
@miniskynet sheet format is Ok. Use the data in the JSON file to fill the image and Linkedin columns

[2021-07-12 03:51] akeel230 commented on #867
Hey , @janethavi i would like to work on this.

[2021-07-12 06:23] miniskynet commented on #1001
@gajindubandara hello, as per the message (reference to team.json file snippet) I sent previously, would this format be okay?
and while @jayasanka-sack @Gravewalker666 gets back with a reply I'll put everything in a single sheet.
![image](https://user-images.githubusercontent.com/49517852/125240053-3053b300-e307-11eb-9551-24439612599e.png)

[2021-07-12 06:45] Gravewalker666 commented on #1001
Let's make separate sheets or multiple tabs in the same sheet. See what works the best, try to find the solution that requires the minimum number of network calls.

[2021-07-12 08:38] gajindubandara opened #1018 "Replace ScholarX 2021 selected mentees JSON file with a Google sheet"
**Is your feature request related to a problem? Please describe.**
Currently, the `scholarx/2021/selected/index.html` page is using a JSON file (scholarx/2021/selected/selected-mentees-2021.json) to import data. It's more efficient to use a google sheet to update the data than using a JSON file.

**Describe the solution you'd like**
1 . Instead of using JSON file create a google sheet for selected

[2021-07-12 09:09] gajindubandara commented on #1018
I'm working on this

[2021-07-12 11:15] miniskynet commented on #1001
@Gravewalker666 @gajindubandara I have attached the link to the google sheet and have included the details in separate tabs. Please take a look and tell me if it looks okay. I can move onto the scripts if this is good.

Google sheets link : https://docs.google.com/spreadsheets/d/1fcoXrjeJUSxcU6d3x2-SvNhkR76H05sTbf8h4RfWJgU/edit?usp=sharing

[2021-07-13 05:34] #1018 closed, assigned to nobody

[2021-07-13 05:37] #1013 closed, assigned to nobody

[2021-07-14 06:15] gajindubandara opened #1022 "Replace ScholarX 2021 featured stories JSON file with a Google sheet"
**Is your feature request related to a problem? Please describe.**
Currently, the` scholarx/2021/index.html` page is using a JSON file (scholarx/2021/featured-stories.json) to import data. It's more efficient to use a google sheet to update the data than using a JSON file.

**Describe the solution you'd like**
1 . Instead of using JSON file create a google sheet for featured stories  (Scholarx-Fea

[2021-07-14 06:18] gajindubandara opened #1023 "Replace ScholarX 2020 featured stories JSON file with a Google sheet"
**Is your feature request related to a problem? Please describe.**
Currently, the `scholarx/archive/2020/index.html` page is using a JSON file (scholarx/archive/2020/featured-stories.json) to import data. It's more efficient to use a google sheet to update the data than using a JSON file.

**Describe the solution you'd like**
1 . Instead of using JSON file create a google sheet for featured storie

[2021-07-14 07:59] miniskynet opened #1024 "Add scroll-up functions to the 'SEE LESS' buttons in team page"
**Describe the bug**
In the team [page](https://sefglobal.org/team.html) once the "SEE LESS" button is clicked, the respective sections do not scroll up to its' original position.

**Expected behavior**
Page should scroll up to its' original position once "SEE LESS" buttons are clicked.

[2021-07-14 08:05] miniskynet commented on #1024
@Gravewalker666 please assign this to me

[2021-07-15 03:58] gajindubandara commented on #1016
I'm working on this

[2021-07-15 07:44] #1016 closed, assigned to gajindubandara

[2021-07-15 11:28] #867 closed, assigned to akeel230

[2021-07-16 03:51] gajindubandara commented on #1015
I'm working on this

[2021-07-17 04:37] gajindubandara commented on #1023
I'm working on this

[2021-07-17 04:57] gajindubandara commented on #1022
I'm working on this

[2021-07-17 14:43] akeel230 opened #1029 "Add Node.js description to README.md"
**Is your feature request related to a problem? Please describe.**

- Improve readability of our repository’s codes

- https://sef.discourse.group/t/improve-readability-of-our-repositorys-codes/333

**Describe the solution you'd like**

- Adding a small description regarding the feature used and direct contributors towards Node.js website for more information

[2021-07-18 04:10] gajindubandara opened #1031 "Add "SEE LESS" button to Scholarx 2020 mentors"
**Describe the bug**
There is only a "SEE MORE" button to load all the other profiles on the mentor's section. After clicking the button there is no "SEE LESS" button to contract profiles

**Expected behavior**
Add the "SEE LESS" button to the Scholarx 2020 mentor's section in scholarx/archive/2020/ page

[2021-07-18 04:10] gajindubandara commented on #1031
I'm working on this

[2021-07-18 16:05] #1001 closed, assigned to miniskynet

[2021-07-18 16:06] #1015 closed, assigned to nobody

[2021-07-19 13:39] #1023 closed, assigned to nobody

[2021-07-19 13:40] #1022 closed, assigned to nobody

[2021-07-20 09:56] gajindubandara opened #1034 "Remove the unused JSON files from the repository"
**Is your feature request related to a problem? Please describe.**
JSON files on the repository have been replaced with google sheets but there are some unused JSON files. So it's better to remove them

**Describe the solution you'd like**
Remove the  `assets/content/json` folder from the repository

[2021-07-20 09:56] gajindubandara commented on #1034
I'm working on this

[2021-07-20 11:38] #1034 closed, assigned to nobody

[2021-07-21 03:35] #1031 closed, assigned to nobody

[2021-07-21 03:35] #1024 closed, assigned to miniskynet

[2021-07-21 12:41] gajindubandara opened #1036 "Replace ScholarX 2021 mentor's images with Cloudinary URLs"
**Is your feature request related to a problem? Please describe.**
Use Cloudinary image hosting service to import images to the page

**Describe the solution you'd like**
1. Use the below image URLs to update the image column in the google sheet
[code]
google sheet link-
https://docs.google.com/spreadsheets/d/17v6VOakEMPAjVKKXjUsz7mcPXX-wBGdSqBLnBBLG_tU/edit?usp=sharing

2. Replace `images/{{image

[2021-07-21 13:59] akeel230 commented on #1036
Please assign this task to me if anyone hasn't been assigned yet . Thank you.

[2021-07-21 15:03] janethavi commented on #1036
Go ahead @akeel230!

[2021-07-21 15:14] akeel230 commented on #1036
@janethavi Thanks , and btw I need edit access to the spreadsheet in order to fill out the forms , please look into it

[2021-07-21 15:23] gajindubandara commented on #1036
Done!

[2021-07-21 16:54] akeel230 commented on #1036
Thanks @gajindubandara

[2021-07-22 03:41] gajindubandara opened #1037 "Replace ScholarX 2020 mentor's images with Cloudinary URLs"
**Is your feature request related to a problem? Please describe.**
Use Cloudinary image hosting service to import images to the page

**Describe the solution you'd like**
1. Use the below image URLs to update the image column in the google sheet

[code]
google sheet link-
https://docs.google.com/spreadsheets/d/1XL-Uox7rzHeiMzUe_t8Gm5aLk18wpcmhITfJfOTEIg8/edit?usp=sharing

2. Replace `images/{{imag

[2021-07-22 04:54] akeel230 commented on #1036
@gajindubandara following names were left out after the form was filled
v1625395663/ScholarX_Mentors/2021/stennakoon_vflkyv.jpg
v1625395657/ScholarX_Mentors/2021/nadeesha_jmtbl5.jpg
v1625395651/ScholarX_Mentors/2021/ganindu_ykoqot.jpg
v1625395646/ScholarX_Mentors/2021/chethiya_wdgvqq.jpg

[2021-07-22 04:55] akeel230 commented on #1036
@gajindubandara and following names were left out without an image URL to link with , please take aa look
Hasitha
Sumudu
Nadeeja

[2021-07-22 04:56] gajindubandara commented on #1036
I'll look into that and update you with the new links

[2021-07-22 04:56] akeel230 commented on #1037
If there's no one working on this issue I can do it, The similar issue #1036 is half complete and left out with some missing URLs

[2021-07-22 05:21] #1029 closed, assigned to nobody

[2021-07-22 06:08] gajindubandara commented on #1036
Hasitha Liyanage -v1626870512/ScholarX_Mentors/2021/Hasitha-L_d52mvd.jpg
Prof. Hasitha Mahabaduge - v1625395651/ScholarX_Mentors/2021/hasitha_xfsvgq.jpg
Dr. Nadeeja Wijayatunga - v1626870515/ScholarX_Mentors/2021/Nadeeja_s1j1qq.jpg
Dr. Nadeesha Chandrasena - v1625395657/ScholarX_Mentors/2021/nadeesha_jmtbl5.jpg
Dr. Sumudu Herath - v1625395664/ScholarX_Mentors/2021/sumudu_rlahyq.jpg
Dr. Sumudu Tenn

[2021-07-22 06:41] gajindubandara opened #1038 "Add a Testimonial section to the UpSpeak page"
**Is your feature request related to a problem? Please describe.**
Add a testimonial section to the upspeak page

**Describe the solution you'd like**

Create the testimonial section as in the below image

![Screenshot from 2021-07-22 12-06-40](https://user-images.githubusercontent.com/63200586/126598764-ffce3e13-aa5f-4677-9ba3-37b11bc4f65b.png)

Content - https://docs.google.com/document/d/1Y-Hp0

[2021-07-22 06:42] gajindubandara commented on #1038
I'm working on this

[2021-07-22 06:45] akeel230 commented on #1037
@janethavi Thank you.

[2021-07-22 07:13] miniskynet commented on #950
@janethavi are you working on this issue?

[2021-07-22 07:26] akeel230 commented on #1036
@gajindubandara changed made in the spreadsheet , please take a look

[2021-07-22 14:04] janethavi commented on #950
Sorry @miniskynet This issue is not valid for the moment because the design is not finalized.

[2021-07-22 14:27] #1036 closed, assigned to akeel230

[2021-07-22 17:07] miniskynet commented on #950
I see @janethavi thank you for letting me know :)

[2021-07-23 05:15] gajindubandara opened #1043 "Replace ScholarX 2019 mentor's images with Cloudinary URLs"
**Is your feature request related to a problem? Please describe.**
Use Cloudinary image hosting service to import images to the page

**Describe the solution you'd like**
1. Use the below image URLs to update the image column in the google sheet

[code]
google sheet link-
https://docs.google.com/spreadsheets/d/1HlipHnHxm-Y5CIMvq8sB0FZU7ZBxv6LUMVa3kydL8Vk/edit?usp=sharing

2. Replace `images/{{imag

[2021-07-23 05:30] gajindubandara opened #1044 "Replace ScholarX 2020 mentee's images with Cloudinary URLs"
**Is your feature request related to a problem? Please describe.**
Use Cloudinary image hosting service to import images to the page

**Describe the solution you'd like**
1. Use the below image URLs to update the image column in the google sheet

[code]
google sheet link-
https://docs.google.com/spreadsheets/d/1YIN5nEpDpHkW0tphsRIDizj5yHTTFmwQyXxMNkYV8tA/edit?usp=sharing

2. Replace `images/mentee

[2021-07-23 05:31] gajindubandara commented on #1044
I'm working on this

[2021-07-23 05:40] akeel230 commented on #1043
shall I work on this?

[2021-07-23 13:00] #1043 closed, assigned to nobody

[2021-07-23 13:01] #1044 closed, assigned to nobody

[2021-07-24 05:35] gajindubandara opened #1047 "Replace ScholarX 2019 mentee's images with Cloudinary URLs"
**Is your feature request related to a problem? Please describe.**
Use Cloudinary image hosting service to import images to the page

**Describe the solution you'd like**
1. Use the below image URLs to update the image column in the google sheet

[code]
google sheet link-
https://docs.google.com/spreadsheets/d/1hD77jQc9kohGfX1QpERumwcjTRK1EOHk8AKd2I9e2mg/edit?usp=sharing

2. Replace `images/mentee

[2021-07-24 05:51] gajindubandara opened #1048 "Replace team page images with Cloudinary URLs"
**Is your feature request related to a problem? Please describe.**
Use Cloudinary image hosting service to import images to the page

**Describe the solution you'd like**
1. Use the below image URLs to update the image column in the google sheet

* Advisory panel
[code]

* External collobarators

[code]

* Executive committee

[code]

* Dev team

[code]

* Alumni

[code]

google sheet link-
https:

[2021-07-24 05:57] gajindubandara opened #1049 "Replace homepage testimonial images with Cloudinary URLs"
**Is your feature request related to a problem? Please describe.**
Use Cloudinary image hosting service to import images to the page

**Describe the solution you'd like**
1. Use the below image URLs to update the image links in the index.html

[code]

[2021-07-24 05:57] gajindubandara commented on #1049
I'm working on this

[2021-07-24 06:45] akeel230 commented on #1047
Please assign this to me. Thank  you

[2021-07-24 07:48] akeel230 commented on #1037
@janethavi I think this issue is over and merged. We can  close this issue now ryt?

[2021-07-24 07:50] akeel230 commented on #1048
I've completed the last issue,  I can work on this too. @janethavi

[2021-07-24 12:17] #1047 closed, assigned to akeel230

[2021-07-25 09:17] akeel230 commented on #1048
Some of the URLs to the Executive committee session is missing ,

- Janith Ravindu Silva
- Amaya Dharmasiri
- Fahim Aslam
- Ramith Hettiarachchi
- Kithmin Wickremasinghe
- Sandani Gunawardane
- Chalani Ekanayake

Please take a look and update this problem . Thank you

[2021-07-25 09:40] gajindubandara commented on #1048
[code]

[2021-07-25 09:44] akeel230 commented on #1048
@gajindubandara thanks

[2021-07-26 03:43] #1048 closed, assigned to akeel230

[2021-07-27 06:42] gajindubandara opened #1053 "Add a preloader to the Team page"
**Is your feature request related to a problem? Please describe.**
The team page is taking some time to load the data to the page. It shows as in below for few seconds

![Screenshot from 2021-07-27 12-09-23](https://user-images.githubusercontent.com/63200586/127107642-87e7139c-f360-45d3-a9dd-4752d0a7e798.png)
**Describe the solution you'd like**
Add a preloader to the team page to avoid that

[2021-07-27 06:42] gajindubandara commented on #1053
I'm working on this

[2021-07-27 06:53] #1038 closed, assigned to nobody

[2021-07-27 08:05] akeel230 opened #1054 "Add a Tech stack session to README.md"
**Is your feature request related to a problem? Please describe.**
 Improve readability of our repository’s codes https://sef.discourse.group/t/improve-readability-of-our-repositorys-codes/333

**Describe the solution you'd like**
Add a tech stack session to the README.md file and point out the technologies used in the repo's

**Describe alternatives you've considered**
using names such as,
-site

[2021-07-27 08:05] akeel230 commented on #1054
I'm working on this

[2021-07-27 11:04] janethavi commented on #1053
@gajindubandara For the same issue, will you be able to make the buttons(SEE MORE and SEE LESS) visible after the images are loaded?

[2021-07-28 03:50] gajindubandara commented on #1053
I tried with the preloader thing. So after the preloader, when the page is visible you can only see the SEE MORE button and all the images are loaded at that time. Is that what you meant?

[2021-07-28 03:57] janethavi commented on #1053
No no. While the preloader is working, both the buttons should be hidden(because no point of having both the buttons until the images appear). Currently, before the images are loaded both the buttons are visible. So that makes no sense because still the images are not loaded. So it would be nice if we can make both the buttons hidden until the preloader is complete. Once the images are loaded we c

[2021-07-28 04:02] gajindubandara commented on #1053
Yeah! I got it. I'll look into that

[2021-07-28 06:46] gajindubandara commented on #1053
@janethavi I'll create a new issue for that and I'll send a PR for that

[2021-07-28 07:05] gajindubandara opened #1056 "Prevent showing 'SEE MORE/SEE LESS' buttons before loading the profiles on the team page"
**Describe the bug**
On the team page, the "SEE MORE" and "SEE LESS" buttons are visible before the images are loaded

**Expected behavior**
Hide the button and show them after the images are loaded

**Screenshots**
![Screenshot from 2021-07-27 12-09-23](https://user-images.githubusercontent.com/63200586/127276905-6d8e00e4-1512-45ab-8d24-9afe23f3e33b.png)

[2021-07-28 07:06] gajindubandara commented on #1056
I'm working on this

[2021-07-28 09:25] #1049 closed, assigned to gajindubandara

[2021-07-29 04:16] #1054 closed, assigned to akeel230

[2021-07-29 12:38] akeel230 opened #1057 "Add documentation to prerequisites session in README.md"
**Is your feature request related to a problem? Please describe.**
Improve readability of our repository’s codes
https://sef.discourse.group/t/improve-readability-of-our-repositorys-codes/333/17

**Describe the solution you'd like**
link documentation to prerequisites session

[2021-07-29 12:38] akeel230 commented on #1057
im working on this

[2021-07-29 16:15] #1057 closed, assigned to akeel230

[2021-07-31 04:51] gajindubandara opened #1060 "Remove unused image files"
**Is your feature request related to a problem? Please describe.**
There are some unused image files in the repository

**Describe the solution you'd like**
Delete the below files from the repository

`assets/img/profiles`

`assets/img/irc/irc-interns`

[code]

[code]

[code]

[2021-07-31 04:52] Hasthikagirihagama commented on #1060
I would like to work on this issue

[2021-07-31 05:46] janethavi commented on #1060
Go ahead @Hasthikagirihagama

[2021-08-01 15:55] anjula-sack opened #1062 "Create a scholarX page for the pilot program"
**Is your feature request related to a problem? Please describe.**
- We need a static page to link to the pilot programme.

**Describe the solution you'd like**
- Create a copy from ScholarX 2021 page
- Remove mentor section
- Name it as `summer`
- Update the timeline as well

[2021-08-01 15:57] miniskynet commented on #1062
Assign this to me @anjula-sack

[2021-08-02 05:35] gajindubandara opened #1063 "Prevent showing 'SEE MORE/SEE LESS' buttons before loading the profiles on Onelive & IRC pages"
**Describe the bug**
On Onelive & IRC pages, the "SEE MORE" and "SEE LESS" buttons are visible before the profiles are loaded

**Expected behavior**
Hide the buttons and show them after the images are loaded

**Screenshots**
![Screenshot from 2021-08-02 09-19-44](https://user-images.githubusercontent.com/63200586/127809074-95cade2f-248d-4a43-bdf5-fadec6a71ec8.png)
![Screenshot from 2021-08-02 09-1

[2021-08-02 05:36] gajindubandara commented on #1063
I'm working on this

[2021-08-02 06:42] Piumal1999 opened #1064 "Onelive speaker linkedin profiles are loading in the same tab"
**Describe the bug**
https://sefglobal.org/onelive
On the onelive page, the speaker LinkedIn profiles are loading in the same browser tab. It's better to load the LinkedIn profile in a new tab

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'https://sefglobal.org/onelive'
2. Go to the speakers section
3. Click the linked in button on a speaker profile
4. See error

**Expected behavior*

[2021-08-03 10:43] #1062 closed, assigned to miniskynet

[2021-08-03 14:34] pasindur99 commented on #1064
If @Isuru4043 not working on this, I can send a PR for this issue.

[2021-08-03 14:37] Gravewalker666 commented on #1064
yeah @pasindur99 please go ahead

[2021-08-03 15:10] #1064 closed, assigned to pasindur99

[2021-08-03 16:13] #1060 closed, assigned to Hasthikagirihagama

[2021-08-03 16:14] #1056 closed, assigned to gajindubandara

[2021-08-03 16:31] janethavi opened #1068 "Fix FAQ sections' in Scholarx 2021 page"
**Describe the bug**
The FAQ sections(FAQ for mentors and mentees both) of the [ScholarX-21](https://sefglobal.org/scholarx/archive/2019/) have lost the consistent look when comparing it with other FAQ sections in other pages([Onelive](https://sefglobal.org/onelive/), [IRC](https://sefglobal.org/irc.html)).

**To Reproduce**
Steps to reproduce the behavior:
1.Go to the The FAQ sections of the [Sch

[2021-08-04 05:26] akeel230 commented on #970
@janethavi requested changes are made , please take a look

[2021-08-04 05:39] gajindubandara opened #1070 "Prevent showing 'SEE MORE/SEE LESS' buttons before loading the profiles on ScholarX pages"
**Describe the bug**
On ScholarX 2021,2020,2019 pages, the "SEE MORE" and "SEE LESS" buttons are visible before the profiles are loaded

**Expected behavior**
Hide the buttons and show them after the images are loaded

**Screenshots**
![Screenshot (147)](https://user-images.githubusercontent.com/63200586/128127719-9d10c432-bc66-43e2-bbbc-9c638363546d.png)
![Screenshot (148)](https://user-images.gi

[2021-08-04 05:39] gajindubandara commented on #1070
I'm working on this

[2021-08-04 05:42] anjula-sack commented on #1068
We have the same issue in the scholarX summer page.

[2021-08-04 05:47] miniskynet commented on #1068
@janethavi @anjula-sack  ScholarX 2021 page and summer page both use the same CSS right?

[2021-08-04 05:49] anjula-sack commented on #1068
@miniskynet yeah but seems like a class missing in the FAQ section. I'm not sure

[2021-08-04 17:04] janethavi opened #1071 "Fix profile issues in scholarx"
**Describe the bug**
There are a couple of small bugs which are as follows.
1) The image of `Hasini Weerathunge(PhD Student, Boston University)` is wrong
2) The photos of Dr. Charith Peris, Rukshani Somarathna, and Ashane Fernando are stretched.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to https://sefglobal.org/scholarx/2021/
2. Click `SEE MORE` in the mentors section
3. See the abo

[2021-08-04 17:06] janethavi commented on #1071
@gajindubandara Will you be able to upload these images into Cloudinary and update this thread with the links?

[2021-08-04 17:07] gajindubandara commented on #1071
Sure! I'll do that

[2021-08-05 06:35] gajindubandara commented on #1071
@janethavi I added the images to the Cloudinary and fixed the issue on the google sheet

![Screenshot from 2021-08-05 12-02-53](https://user-images.githubusercontent.com/63200586/128302601-aa583953-2ff5-458a-8426-821f35271229.png)

[2021-08-05 06:42] janethavi commented on #1071
Great work @gajindubandara!

[2021-08-05 06:42] #1071 closed, assigned to nobody

[2021-08-05 08:54] #1063 closed, assigned to gajindubandara

[2021-08-05 08:55] #970 closed, assigned to deeola

[2021-08-07 07:54] miniskynet opened #1074 "Adding "Apply Now" button to ScholarX pilot program page"
**Is your feature request related to a problem? Please describe.**
The Summer page/ScholarX pilot program page lacks a "Apply Now" button.

**Describe the solution you'd like**
Add a "Apply Now" button to the Summer page/ScholarX pilot program page.

[2021-08-07 13:12] gajindubandara opened #1075 "UpSpeak page testimonial section is not responsive for small screens"
**Describe the bug**
In the UpSpeak page, the author part of the testimonial is not responsive for small screens

**Expected behavior**
Fix the responsiveness of the testimonial

**Screenshots**
![Screenshot from 2021-08-07 18-40-00](https://user-images.githubusercontent.com/63200586/128601300-852ade0b-4302-4078-a5c8-6422bcc91b4f.png)

[2021-08-08 06:14] #1074 closed, assigned to miniskynet

[2021-08-09 04:46] gajindubandara commented on #1075
I'm working on this

[2021-08-09 13:56] #1075 closed, assigned to gajindubandara

[2021-08-10 07:27] miniskynet commented on #1068
@janethavi can I work on this?

[2021-08-11 12:59] miniskynet commented on #1068
@anjula-sack can you please assign this to me?

[2021-08-11 12:59] anjula-sack commented on #1068
sure go ahead

[2021-08-11 18:25] Piumal1999 opened #1079 "Spelling mistake in scholarx redirection message"
**Describe the bug**
<img width="465" alt="Screenshot 2021-08-06 at 19 12 54" src="https://user-images.githubusercontent.com/27498587/129082581-9ea8715d-79d7-4436-86cc-7e797c6bcf00.png">
Spellings of ScholarX is wrong. One letter ('r') is missing

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'https://sefglobal.org/scholarx/'
2. Check the redirection message
3. See error

**Expected b

[2021-08-12 07:47] fustroli commented on #1079
Hello!
I would like to take this issue please.

[2021-08-12 09:23] Gravewalker666 commented on #1079
Sure @VWRoli, go ahead.

[2021-08-13 10:20] #1068 closed, assigned to miniskynet

[2021-08-13 13:02] #1079 closed, assigned to VWRoli

[2021-08-14 09:03] #1053 closed, assigned to gajindubandara

[2021-08-15 04:50] gajindubandara opened #1082 "Add a preloader to Onelive & IRC pages"
**Is your feature request related to a problem? Please describe.**
The Onelive & IRC pages are taking some time to load the data to the pages. It shows as in below for few seconds

![Screenshot from 2021-08-15 10-18-23](https://user-images.githubusercontent.com/63200586/129467502-44205a2a-fc17-4148-8e86-2721825f7b03.png)
![Screenshot from 2021-08-15 10-18-37](https://user-images.githubusercontent.

[2021-08-16 04:39] gajindubandara opened #1083 "Add a preloader to ScholarX pages"
**Is your feature request related to a problem? Please describe.**
The ScholarX 2021,2020 & 2019 pages are taking some time to load the data to the mentor's section. It shows as in below for few seconds

![Screenshot from 2021-08-16 10-07-52](https://user-images.githubusercontent.com/63200586/129512132-a2c21af2-1477-4e88-9019-bcc3e1d17772.png)

![Screenshot from 2021-08-16 10-07-57](https://user-i

[2021-08-16 06:19] janethavi commented on #1037
Yes we can!

[2021-08-16 06:19] #1037 closed, assigned to akeel230

[2021-08-16 08:07] fustroli commented on #1082
I would like to take this issue.

[2021-08-16 08:56] Piumal1999 opened #1084 "Replace ScholarX 2021 mentor profile images with Cloudinary URLs"
**Is your feature request related to a problem? Please describe.**
Some of the mentor profile image links are not replaced with Cloudinary images. Click a mentor profile to see the error.
https://sefglobal.org/scholarx/2021/
![image](https://user-images.githubusercontent.com/27498587/129537540-b6baf903-306b-4fdd-8ee4-d9d97c2cfa88.png)

**Describe the solution you'd like**
Replace ScholarX 2021 men

[2021-08-16 08:59] Piumal1999 opened #1085 "Replace ScholarX 2020 mentor profile images with Cloudinary URLs"
**Is your feature request related to a problem? Please describe.**
Some of the mentor profile image links are not replaced with Cloudinary images. Click on a mentor profile to see the error.
https://sefglobal.org/scholarx/archive/2020/
![image](https://user-images.githubusercontent.com/27498587/129538301-a3c238c3-73dc-40d9-9acb-ea610fe07b91.png)

**Describe the solution you'd like**
Replace Schola

[2021-08-16 09:13] gajindubandara commented on #1084
Replace `img src="images/{{image}}"` in the ScholarX 2021 index.html (Line 620) with `img src="https://res.cloudinary.com/dsxobn1ln/image/upload/{{image}}"`

[2021-08-16 09:15] gajindubandara commented on #1085
Replace `img src="images/{{image}}"` in the ScholarX 2020 index.html (Lime 226) with `img src="https://res.cloudinary.com/dsxobn1ln/image/upload/{{image}}" `

[2021-08-16 09:25] Hasthikagirihagama commented on #1084
I would like to work on this issue

[2021-08-16 09:26] Piumal1999 commented on #1082
@VWRoli Yeah sure.

[2021-08-16 09:49] Hasthikagirihagama commented on #1085
I would like to work on this issue

[2021-08-17 04:23] gajindubandara commented on #1083
I'm working on this

[2021-08-18 08:14] #1070 closed, assigned to gajindubandara

[2021-08-19 04:59] gajindubandara opened #1091 "Add a preloader to the IRC research intern's section"
**Is your feature request related to a problem? Please describe.**
On the IRC page, the research intern's section is taking some time to load the data

**Describe the solution you'd like**
Add a preloader to the research intern's section until it displays the data

[2021-08-19 04:59] gajindubandara commented on #1091
I'm working on this

[2021-08-21 04:42] #1091 closed, assigned to nobody

[2021-08-21 16:28] akeel230 opened #1093 "Place Pull Request/ Commits session in a more discoverable place"
**Is your feature request related to a problem? Please describe.**
We currently have the PR session inside the Best practices session, it's hard to discover it. And the PR session has to be more highlighted than being in the best practices session.

**Describe the solution you'd like**
Move it out to the README.md under a separate PR session

**Describe alternatives you've considered**
Move up the

[2021-08-21 16:28] akeel230 commented on #1093
Im working on this, Thanks

[2021-08-22 04:21] gajindubandara opened #1094 "Add preloaders to ScholarX 2020 & 2019 mentee's section"
**Is your feature request related to a problem? Please describe.**
On the ScholarX 2020,2019 pages, the mentee's section is taking some time to load the data

**Describe the solution you'd like**
Add preloaders to ScholarX pages to avoid that

* Take a look at the PR for the IRC page research intern's section  (https://github.com/sef-global/sef-site/pull/1092)
* Already the CSS is created for the

[2021-08-22 07:09] janethavi opened #1096 "Replace Scholarx21 link with the summer Scholarx21 link"
**Describe the bug**
The ScholarX-21 link should be replaced with the new ScholarX-21 Summer page.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to `Projects` from the navigation bar and click `ScholarX`
2. It will redirect to the old scholarx-21 page.

**Expected behavior**
This link should be replaced to the new scholarx-21 summer page(https://sefglobal.org/scholarx/2021/summer/). Thi

[2021-08-22 07:11] #1085 closed, assigned to Hasthikagirihagama

[2021-08-22 07:13] #1084 closed, assigned to Hasthikagirihagama

[2021-08-22 07:15] Gravewalker666 commented on #1096
@janethavi I don't think we intend to show this edition as the newest scholarx program on the site.
We made this page just to redirect users from the scholarx platform for more details.

[2021-08-22 07:22] janethavi commented on #1096
Oh Sorry. I created this issue as per the discussion on the slack channel. Please confirm and let me know if this is not relevant.

[2021-08-22 07:27] Gravewalker666 commented on #1096
Oh, I wasn't aware of such a discussion. Can you please direct me to the conversation? :)

[2021-08-22 09:16] janethavi commented on #1096
@Gravewalker666 I tagged you into the thread. Can you have a look?

[2021-08-23 05:51] fustroli commented on #1094
I would like to take this issue.

[2021-08-23 05:54] Gravewalker666 commented on #1096
@janethavi yeah i checked :)
Please proceed with this.

[2021-08-25 09:35] Bluechai03 commented on #1096
Good day! I'm interested in tackling this issue, can I take it?

[2021-08-25 09:44] janethavi commented on #1096
Sure go Ahead @Bluechai03 !

[2021-08-25 10:25] Bluechai03 commented on #1096
Thank you, I just made a PR :D

[2021-08-26 13:37] akeel230 commented on #1093
@janethavi @Gravewalker666 @anjula-sack is it better to remove the PR and commit session from the best practices md and replace it in the README.md completely?

[2021-08-26 16:37] janethavi opened #1099 "Fix Featured Stories section in scholarx summer page"
**Describe the bug**
The [ScholarX summer page](https://sefglobal.org/scholarx/2021/summer/) `Featured Stories` section is empty. The data is not visible in this section.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to [https://sefglobal.org/scholarx/2021/summer/](https://sefglobal.org/scholarx/2021/summer/)
2. Scroll down to 'Featured Stories'
3. See that the blogs are missing

**Expe

[2021-08-27 06:40] miniskynet commented on #1099
can I work on this? @janethavi

[2021-08-27 17:06] janethavi commented on #1099
Sure go ahead @miniskynet !

[2021-08-29 08:20] #1096 closed, assigned to Bluechai03

[2021-08-29 08:28] janethavi opened #1100 "Fix ScholarX(summer page) archive button link"
**Describe the bug**
In the ScholarX summer page archive section, button link redirects to a page that is not available.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to [https://sefglobal.org/scholarx/2021/summer/](https://sefglobal.org/scholarx/2021/summer/)
2. Scroll down to `archive' section
3. Click on the `Check out our archive` button
4. See the page redirects to a wrong page

**

[2021-08-29 09:24] janethavi opened #1101 "Fix CSS inconsistancy in Upspeak page"
**Describe the bug**
In the [Upspeak page](https://sefglobal.org/upspeak/), `This is what our past participants had to say.....` heading does not follow the CSS formating of the other pages headings.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to [https://sefglobal.org/upspeak](https://sefglobal.org/upspeak)
2. Scroll down to `This is what our past participants had to say.....` sectio

[2021-08-30 15:49] lilRaptor99 commented on #1101
can I work on this? @janethavi

[2021-08-30 15:53] janethavi commented on #1101
Sure go ahead @lilRaptor99

[2021-08-30 20:01] lilRaptor99 commented on #1101
While working on this issue, I found that the styles of `.testimonial-section .main-topic` and `.testimonial-section .paragraph` are duplicated on lines 17, 46, and 42, 54 of the `assets/css/global-custom.css` file.

![image](https://user-images.githubusercontent.com/72651307/131397769-47dcefd1-7ebc-4060-b6e6-9bc185f3bf3c.png)

The styles in `.testimonial-section .main-topic` are related to this i

[2021-08-30 20:54] Gravewalker666 commented on #1101
@lilRaptor99 nice catch, :)
yes please do and include it in the commit description.
Before you do please take another look if it has the same content.

[2021-08-31 04:10] lilRaptor99 commented on #1101
Alright @Gravewalker666

[2021-09-03 12:30] #1101 closed, assigned to lilRaptor99

[2021-09-04 11:23] #1083 closed, assigned to gajindubandara

[2021-09-04 19:34] Piumal1999 opened #1104 "Readme file hit count button is not working"
**Describe the bug**
The hit count button in the readme.md file is not working. Maybe an error in the service we use (https://github.com/dwyl/hits)

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'sef-site' repository (https://github.com/sef-global/sef-site)
2. See the readme.md

**Expected behavior**
Find a way to fix the button

**Screenshots**
![image](https://user-images.githubuser

[2021-09-11 10:46] #1082 closed, assigned to VWRoli

[2021-09-17 14:05] Gravewalker666 opened #1107 "Developer badges page profile picture 404 error"
**Describe the bug**
Developer badges page profile picture is not loading, the request for it receives a 404 status code.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to `/developers/?user=<hive-user-name>&badge=5`
4. See error

**Expected behavior**
It should be able to fetch and render the image from sef hive

**Screenshots**
<img width="452" alt="image" src="https://user-images.gith

[2021-09-17 14:06] akeel230 commented on #1107
ill work on this

[2021-09-17 14:30] #1104 closed, assigned to nobody

[2021-09-17 14:30] #1100 closed, assigned to nobody

[2021-09-17 14:50] janethavi opened #1108 "Edit ScholarX Summer page Take a look at our past ScholarX section"
**Describe the bug**
The [ScholarX summer page](https://sefglobal.org/scholarx/2021/summer/) `Take a look at our past ScholarX` doesn't show any difference to the section above it.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to [ScholarX summer page](https://sefglobal.org/scholarx/2021/summer/)
2. Scroll down to `Take a look at our past ScholarX` section
3. See that this section looks

[2021-09-17 14:54] deshankoswatte commented on #1108
@janethavi I'll work on this.

[2021-09-17 14:56] janethavi commented on #1108
Go Ahead! @deshankoswatte

[2021-09-19 15:54] #1099 closed, assigned to miniskynet

[2021-09-20 15:21] janethavi opened #1111 "Update ScholarX-21 page"
**Is your feature request related to a problem? Please describe.**
The current [Scholarx-21](https://sefglobal.org/scholarx/2021/) page is not linked anywhere on the webpage. Currently, the [ScholarX summer page](https://sefglobal.org/scholarx/2021/summer/) is linked on the website under Scholarx. The correct way of doing this change is to add a new section on the [Scholarx-21](https://sefglobal.o

[2021-09-20 15:43] janethavi opened #1112 "Introduce checkboxes to mentors section of ScholarX-21"
**Describe the bug**
On the `mentors section` of the [Scholarx-21](https://sefglobal.org/scholarx/2021/) page, currently, there are buttons to filter the mentors. Instead of buttons, it will be a good UX feature if we introduce checkboxes.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to [Scholarx-21](https://sefglobal.org/scholarx/2021/) page
2. Scroll down to `Mentors section`
3. See

[2021-09-21 04:40] lilRaptor99 commented on #1111
@janethavi Can I work on this?

[2021-09-21 12:58] janethavi commented on #1111
Sure go ahead @lilRaptor99!

[2021-09-28 14:14] #1107 closed, assigned to akeel230

[2021-10-02 03:52] gajindubandara opened #1115 "Change the home page testimonial view"
**Is your feature request related to a problem? Please describe.**
Currently, the home page testimonials are displayed with the carousel view. It's better to remove the carousels and display all the testimonials in a simple way.

**Describe the solution you'd like**

- Take a look at the [UpSpeak](https://sefglobal.org/upspeak/) page testimonial section
- Use the same testimonial design for the ho

[2021-10-02 14:27] akeel230 opened #1116 "Rename the Dev team name with Engineering team in the Team pages"
**Is your feature request related to a problem? Please describe.**
We have decided to rename the Dev team as the Engineering team. We need to change the name in the teams page

**Describe the solution you'd like**

![Screenshot (475)](https://user-images.githubusercontent.com/83522139/135720687-ef5825f2-b153-4106-8e83-83635be03d0b.png)

**Describe alternatives you've considered**
To recreate go to

[2021-10-02 14:37] akeel230 opened #1117 "Make the Upspeak card for our projects session in the Home page"
**Is your feature request related to a problem? Please describe.**
Create the upspeak card and add the information in the card

**Describe the solution you'd like**

![Screenshot (474)](https://user-images.githubusercontent.com/83522139/135721067-903d49e8-ef5e-41dd-bffa-4b4748c67bc6.png)

**Describe alternatives you've considered**
To fix the issue go to index.html file , find the our projects sec

[2021-10-02 14:44] akeel230 opened #1118 "Redesign the title name in the Home page"
**Is your feature request related to a problem? Please describe.**
The Sustainable Education Foundation name needs redesigning

**Describe the solution you'd like**

![Screenshot (473)](https://user-images.githubusercontent.com/83522139/135721391-93b71688-3088-4215-baeb-cf44188f3aab.png)

**Describe alternatives you've considered**
To fix the issue go to the index.html file, find the Sustainable E

[2021-10-02 17:38] jaebirds commented on #1116
Fixed this in #1119

[2021-10-02 18:50] lilRaptor99 commented on #1112
@janethavi can I work on this?

[2021-10-03 03:35] janethavi commented on #1112
Sure go on @lilRaptor99

[2021-10-03 10:18] akeel230 commented on #1116
@jaebirds can u please add the issue number and edit the preview link, so we can review the PR and merge it. Thank you

[2021-10-04 14:00] pasindur99 commented on #1117
Can I work on this issue?

[2021-10-04 14:02] janethavi commented on #1117
Sure! Go ahead @pasindur99

[2021-10-05 00:51] #1116 closed, assigned to jaebirds

[2021-10-05 01:08] pasindur99 commented on #1117
Thank you! @janethavi
Sorry to interrupt. @akeel230 You mentioned in the squad call that you will work on this issue. Is it okay that I work on this?

[2021-10-05 04:15] akeel230 commented on #1117
@pasindur99 no it's completely fine, I said ill be helping with the issue since the information for the Upspeak card is missing, ill find the information and give it to you, till then u can make the design with dummy text.

[2021-10-05 04:17] akeel230 commented on #1118
I'll work on this because the exact color and font sizes etc. are not known. we might have to change it several times and check so ill give it a go.Thanks

[2021-10-05 04:54] pasindur99 commented on #1117
Okay sure. Let me know when you gathered the information. Thank you @akeel230

[2021-10-05 09:14] #1111 closed, assigned to lilRaptor99

[2021-10-05 09:15] #1108 closed, assigned to deshankoswatte

[2021-10-05 13:21] Chris-Blesson commented on #926
Hi @nejawittatchy I would like to work on this issue. Also will it be possible to make it hacktoberfest accepted. Thanks in advance

[2021-10-08 13:48] #1115 closed, assigned to gajindubandara

[2021-10-08 17:31] #1094 closed, assigned to VWRoli

[2021-10-09 09:39] janethavi opened #1123 "Change the order of the cards"
**Describe the bug**
On the home page under the `Our Projects` section the card order needs to be changed. The same order needs to be applied to the navigation bar, projects menu.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to [https://sefglobal.org/](https://sefglobal.org/)
2. Scroll down to `Our Projects` section
3. See the current order
4. See the navigation bar projects list as we

[2021-10-09 14:34] Ambareen15 commented on #1123
please can you assign this to me

[2021-10-09 16:07] Piumal1999 commented on #1123
Yeah sure. @ManishOffi you can start working on this issue

[2021-10-13 03:49] akeel230 commented on #1123
@Ambareen15 Sorry for the inconvenience caused, we have the first request first serve policy, Please note that there will be plenty of issues to work on in our Repos, Which will be available soon.  Thank you for your request.

[2021-10-14 10:10] #1117 closed, assigned to pasindur99

[2021-10-14 11:57] Priyanka11-dev commented on #926
Hey @nejawittatchy,
can i work on this?

[2021-10-14 20:58] nejawittatchy commented on #926
Sure go ahed @Priyanka11-dev

[2021-10-15 04:54] Priyanka11-dev commented on #926
Hey @nejawittatchy ,
could u plz let know the size of the screen for which its not responsive as I am not able to reproduce it.
Thanks in advance.

[2021-10-15 14:03] #901 closed, assigned to janethavi

[2021-10-15 14:03] akeel230 commented on #901
outdated issue

[2021-10-17 05:45] gajindubandara opened #1125 "Change the Home & UpSpeak testimonial card edges"
**Is your feature request related to a problem? Please describe.**
Currently, the Home page and the UpSpeak page testimonial cards don't have curved edges but all the other cards on the SEF site have curved edges. So to keep consistency the testimonial card edges should be changed

**Describe the solution you'd like**
Add curved edges to the Home and UpSpeak testimonial cards

[2021-10-18 04:11] #1125 closed, assigned to gajindubandara

[2021-10-18 12:35] Piumal1999 opened #1127 "Change the order of projects in navbar"
**Is your feature request related to a problem? Please describe.**
The project menu order in navbar should be changed

**Describe the solution you'd like**
Expected Projects menu order:
- ScholarX
- IRC
- OneLive
- Academix
- UpSpeak
- Student Ambassador

**Describe alternatives you've considered**
N/A

**Additional context**
This is a sub issue of #1124.

[2021-10-18 12:46] Piumal1999 commented on #1123
@akeel230 I created a separate issue for the navbar update(@ManishOffi had already sent a PR for the navbar). So I'm removing the assignee.

Therefore this PR is now open for anyone.

Now, only this part is needed to be done in order to complete this issue:

1st Line :- ScholarX -> IRC -> OneLive
2nd Line :- Academix -> UpSpeak -> Student Ambassador

[2021-10-18 12:52] akeel230 commented on #1123
@Piumal1999 thanks

[2021-10-18 14:06] MRIDUL-MB opened #1128 "Testimonials are not responsive in mobile view"
**Describe the bug**
Font size in mobile view.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'https://sefglobal.org/'
2. Scroll down to 'last page'
4. Glitch in font size

**Expected behavior**
Reduce the font size such that everything should be see clear.

**Screenshots**
![image](https://user-images.githubusercontent.com/53037689/137746755-41b6ed34-be15-4447-9b65-89b4350d6eb1.png)

[2021-10-18 15:54] Piumal1999 commented on #1128
Hi @MRIDUL-MB, Thanks for creating the issue. Please let us know if you are working on this issue, so we can assign you to the issue.

Btw, I found that the tablet view also have this issue.
![image](https://user-images.githubusercontent.com/27498587/137765733-4fd83f63-811c-4d70-8ca6-85729928467e.png)

[2021-10-18 15:56] Piumal1999 commented on #1128
**Note:** We are using the same component in the upspeak page(https://sefglobal.org/upspeak/). So, check both pages when fixing this bug.

[2021-10-18 17:56] MRIDUL-MB commented on #1128
yeah, I am working on it, assign it to me.

[2021-10-19 07:38] MRIDUL-MB commented on #1128
label it as hactoberfest

[2021-10-22 13:14] #1127 closed, assigned to nobody

[2021-10-22 13:21] akeel230 opened #1130 "Remove the (emoji) Image from the one live page"
**Is your feature request related to a problem? Please describe.**
Remove the (emoji) Image from the one live page which is not suitable for the design

**Describe the solution you'd like**
Remove the Image which contains the emojis below the see more button of the "Take a look at our past OneLives" section

**Screenshot**

![Screenshot (536)](https://user-images.githubusercontent.com/83522139/138

[2021-10-22 13:26] akeel230 opened #1131 "Change the footer background-color of the One Live page"
**Is your feature request related to a problem? Please describe.**

The background color of the one live page footer is not separated from the section above. Change the background color of the
footer to match the design in the rest of the pages

**Describe the solution you'd like**

Go through the footer designs of the other pages, see the footer is clearly separated from other sections in the pag

[2021-10-23 14:09] pasindur99 commented on #1131
I'm about to start working on this as we discussed on stand-up call. Please assign this task to me. Thank you.

[2021-10-24 19:49] Tegridy commented on #1130
Hi @akeel230
Could you assign me to this issue ?

[2021-10-24 20:30] Piumal1999 commented on #1130
Yeah sure! @Tegridy

[2021-10-25 03:21] #1131 closed, assigned to pasindur99

[2021-10-25 06:01] gajindubandara opened #1133 "Fix screen responsiveness of the home testimonial cards"
**Describe the bug**
Home page testimonials are not responsive for some resolutions

**Expected behavior**
Fix the screen responsive issue of the testimonial cards

**Screenshots**
![Screenshot from 2021-10-25 09-16-32](https://user-images.githubusercontent.com/63200586/138631948-db65eaa3-e127-4b88-82a1-cf59d8b3f558.png)
![Screenshot from 2021-10-25 09-16-51](https://user-images.githubusercontent.

[2021-10-25 08:12] Piumal1999 commented on #1133
Duplicate issue #1128

[2021-10-25 08:26] #1133 closed, assigned to gajindubandara

[2021-10-25 14:53] akeel230 opened #1136 "Add Box shadows to testimonial section in the Home page"
**Is your feature request related to a problem? Please describe.**
the current testimonial section does not have box shadows, it is not visible since the background color is not white

**Describe the solution you'd like**
Change the background color to white, add box shadows to testimonial boxes to match the design of the projects cards

![Screenshot (543)](https://user-images.githubusercontent.co

[2021-10-25 15:01] akeel230 opened #1137 "Relocate the Join the team button"
**Is your feature request related to a problem? Please describe.**
The " Join the team" button has to be moved just below the volunteer description of the "At SEF, We Have Something In Store For Everyone!" section.

It is currently below the testimonial section

**Describe the solution you'd like**

![Screenshot (545)](https://user-images.githubusercontent.com/83522139/138719981-fdf1ea87-cb07-430e

[2021-10-25 15:53] wilsonfurtado2000 commented on #1136
assign this to me

[2021-10-25 16:34] #1130 closed, assigned to Tegridy

[2021-10-25 16:36] Piumal1999 commented on #1136
I assigned you @wilsonfurtado2000. Feel free to contact us if you need any clarifications.

[2021-10-25 16:56] GauravKesarwani commented on #1137
Could you assign this issue to me.

[2021-10-25 16:57] Piumal1999 commented on #1137
Assigned @GauravKesarwani

[2021-10-29 07:22] #1112 closed, assigned to lilRaptor99

[2021-11-12 02:42] AkshayHere commented on #1137
Hi @Piumal1999, Looks like this issue is still open.
I would like to work on this one.

[2021-11-12 07:33] Piumal1999 commented on #1137
Yeah sure @AkshayHere

[2021-11-12 07:36] Piumal1999 commented on #926
Closing because the issue couldn't be reproduced

[2021-11-12 07:36] #926 closed, assigned to nobody

[2021-11-19 14:46] Piumal1999 commented on #1123
@oneamanish @akeel230, I already reviewed the pull request and requested some changes. @oneamanish Please add the request changes and update the pull request description. Let us know if there's any problem.

[2021-11-21 16:26] Piumal1999 opened #1142 "Update the fellowship API request url"
**Is your feature request related to a problem? Please describe.**
The fellowship certificates are not working because the sef-core URL is changed

**Describe the solution you'd like**
The ajax request URL should be `'http://apps.sefglobal.org/core/fellowship/certificates/' + id`
Change line 125 to `let id = searchParams.get('id');` (Remove the atob function)

**Describe alternatives you've consid

[2021-11-22 06:41] #1137 closed, assigned to AkshayHere

[2021-11-22 06:46] gajindubandara commented on #1136
I'll work on this

[2021-11-28 10:40] #1142 closed, assigned to nobody

[2021-12-01 10:04] Piumal1999 opened #1145 "Update Academix URL"
**Is your feature request related to a problem? Please describe.**
 We added the SSL certificate for the server which was used to deploy AcademiX platform. So we need to change the http URLs to https.

**Describe the solution you'd like**
Change the academic URL (`http://apps.sefglobal.org/academix/`) to `https://apps.sefglobal.org/academix/` in homepage project card and navbar dropdown
Homepage l

[2021-12-04 14:26] 99sumedha commented on #1145
Hi @Piumal1999,
I would like to solve this issue.

[2021-12-07 09:12] #1145 closed, assigned to 99sumedha

[2021-12-07 09:12] #1136 closed, assigned to gajindubandara

[2021-12-17 10:23] Madhawa97 opened #1147 "Add USR Certificate Directory for sef-site"
**Is your feature request related to a problem? Please describe.**
Sef-site needs a directory to create a page for issuing USR digital certificates

**Describe the solution you'd like**
Create a directory in sef-site (usr) and integrate the API with template

**Describe alternatives you've considered**

**Additional context**

[2021-12-17 10:23] Madhawa97 commented on #1147
I'm working on this

[2021-12-19 16:56] #1147 closed, assigned to nobody

[2021-12-24 14:45] akeel230 opened #1150 "Adding the Our journey so far Image from the "New hire induction" Google slide"
**Is your feature request related to a problem? Please describe.**
This is an enhancement for the "New content for the website" project
https://sef.discourse.group/t/new-content-for-the-websites/362/8

**Describe the solution you'd like**
Add the roadmap from the Google slide into the Home page Below the "our projects" section.

**Describe alternatives you've considered**
![2bacf22d547cacb5c9e7dfc

[2021-12-24 17:55] #1118 closed, assigned to akeel230

[2021-12-24 18:17] Madhawa97 commented on #1150
Assign me please

[2021-12-29 05:29] akeel230 opened #1152 "Add (target =_blank) feature to IRC page "VIEW BLOG" buttons"
**Is your feature request related to a problem? Please describe.**
The view blog button on the IRC page redirects the user to another tab. We have to make them open the blogs in separate tabs to keep the user on our website.

**Describe the solution you'd like**
Add suitably attributes to the HTML code to give the functionality of opening the blogs in a new tab

**Describe alternatives you've cons

[2021-12-29 07:41] maheshtamarakar commented on #1152
I would like to work can you assign it to me

[2021-12-29 08:25] maheshtamarakar commented on #1152
I added the target = "_blank" in irc.htm anchor tag but because it has <tr onclick="window.location='{{linkedin}}';"> on the row of the table that irc.html page re-directed to LinkedIn profile, so what should I do about it? should I remove onclick="window.location='{{linkedin}}';". and view blog is opening in new page fine

[2021-12-29 08:34] Piumal1999 commented on #1152
@maheshtamarakar  Yeah, let's remove it and add the LinkedIn URL to the person’s name

[2021-12-29 10:43] maheshtamarakar commented on #1152
ohk

[2021-12-29 10:48] maheshtamarakar commented on #1152
so should I use cursor: pointer to person's name, and what should use style=" cursor: pointer;"  on td tag or should I make a separate class?

[2021-12-29 21:10] Piumal1999 commented on #1152
I think we don't have to use additional styles. Adding an `<a>` tag with the LinkedIn URL would be enough.

This is the expected behaviour:
If someone clicks on the person's name, the LinkedIn profile should be loaded in a new tab.
If someone clicks on the "View Blog" button, the blog page should load in a new tab.
If someone clicks anywhere else on the `<td>`, nothing should happen.

[2021-12-30 02:28] maheshtamarakar commented on #1152
adding a <a> will make the text color blue so is that ok?
If someone clicks on the person's name, the LinkedIn profile should be loaded in a new tab.-> done
If someone clicks on the "View Blog" button, the blog page should load in a new tab.->done
If someone clicks anywhere else on the <td>, nothing should happen.->done

[2021-12-30 02:35] maheshtamarakar commented on #1152
or should I change the color using inline CSS or make a separate class

[2021-12-30 12:09] akeel230 commented on #1152
@maheshtamarakar please send a draft PR so that it will be easy to review the code and request changes if necessary. And thank you for the progress so far.

[2021-12-30 12:29] Piumal1999 commented on #1152
Yeah. It's ok

[2021-12-30 15:27] maheshtamarakar commented on #1152
glad I was helpful

[2021-12-30 15:46] maheshtamarakar commented on #1152
sent a draft PR

[2021-12-31 05:40] #1152 closed, assigned to maheshtamarakar

[2022-01-01 13:29] ghost commented on #1123
Shall I work on this issue?

[2022-01-01 13:30] ghost commented on #1123
Thank You

[2022-01-03 07:30] #1123 closed, assigned to nobody

[2022-01-06 09:32] jayasanka-sack commented on #1093
Do you mean "section"?

[2022-01-11 16:08] jayasanka-sack commented on #1128
@akeel230 @Piumal1999 Is this fixed?

[2022-01-11 16:22] akeel230 commented on #1128
@jayasanka-sack @Piumal1999 although the responsiveness seems to be a bit off in the inspect option. in actual smaller screen mobiles, the problem is not seen.
![Screenshot (717)](https://user-images.githubusercontent.com/83522139/148980943-8abd4b85-33d7-450c-91a2-2c7abb4263b9.png)
![photo_2022-01-11_21-52-04](https://user-images.githubusercontent.com/83522139/148981127-f6c2d21e-fa13-4b27-8c63-9b8

[2022-01-11 16:26] jayasanka-sack commented on #1128
Thanks @akeel230 !

Closing the issue because it has been already fixed.

[2022-01-11 16:26] #1128 closed, assigned to nobody

[2022-01-14 15:39] akeel230 opened #1155 "Make the SEF email in the FAQ section of the Upspeak page into a redirecting Link"
**Describe the bug**
In the Upspeak page under the FAQ section in the "How do I become a facilitator?"
and "How do we partner with SEF on the program?" questions when opened we can see the info@sefglobal.com Email address
But it is plain text. We can make it a clickable redirecting Link.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to the Upspeak page from the Home dropdown
2. Scroll d

[2022-01-14 15:42] YoshithaRathnayake commented on #1155
Shall I work on this?

[2022-01-14 17:14] VishwaAmarasinghe commented on #1155
Shall I work on this ?

[2022-01-15 02:43] akeel230 commented on #1155
@VishwaAmarasinghe Sorry since @yoshitha has requested to work on the issue first, ill have to assign it to him. But stay in touch there will be plenty of issues to solve soon. Thank you both of you for requesting to solve this.

[2022-01-16 17:14] jayasanka-sack opened #1157 "Update the preview link generator to add a comment on the PR"
**Is your feature request related to a problem? Please describe.**
To complete the template with the preview link, developers must edit the PR with the PR number. It necessitates extra effort, and new contributors find it difficult.

**Describe the solution you'd like**
Update the preview link generator to add a comment on the PR with the preview link.

[2022-01-17 02:46] #1155 closed, assigned to YoshithaRathnayake

[2022-01-26 15:49] YoshithaRathnayake opened #1160 "Add "Are you working on this" to the issue template"
**Is your feature request related to a problem? Please describe.**
Currently, there is nothing as "Are you working on this"

**Describe the solution you'd like**
Add "Are you working on this" to the issue template

[2022-01-27 11:53] YoshithaRathnayake commented on #1160
Shall I work on this ?

[2022-01-28 15:00] #1160 closed, assigned to nobody

[2022-01-31 05:50] VishwaAmarasinghe opened #1166 "The footer year should be changed in the academix"
**Is your feature request related to a problem? Please describe.**
The footer year is wrong. It should be 2022
**Describe the solution you'd like**
The footer year should be 2022.

**Describe alternatives you've considered**
Make the footer year correct by adding script.

**Additional context**
N/A

**Are you working on it?**
Yes

[2022-01-31 05:52] VishwaAmarasinghe commented on #1166
Shall I work on this ?

[2022-02-01 00:26] YoshithaRathnayake opened #1167 "Change the Email colour in Acedemix"
**Describe the bug**
Currently there is purple color in the email link

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '[Academix Page](https://apps.sefglobal.org/academix/)'

**Expected behavior**
Change the email link color to blue

**Screenshots**
![image](https://user-images.githubusercontent.com/97069900/151894905-f3c45d90-57f5-4020-b086-0d890efc81b7.png)

**Are you working on it?

[2022-02-01 00:27] YoshithaRathnayake commented on #1167
Shall I work on this ?

[2022-02-01 05:41] Piumal1999 commented on #1166
Hi @VishwaAmarasinghe, the frontend of the academix application is in [academix-frontend](https://github.com/sef-global/academix-frontend) repository. It is built with React and also the design is a bit different. So we can't reuse the sef-site navbar style for academix.

[2022-02-01 05:47] Piumal1999 commented on #1167
Hi @YoshithaRathnayake, We use purple colour as the primary colour on Academix page. So the existing email link colour is ok with that design.
FYI, academix application is in the [academix-frontend](https://github.com/sef-global/academix-frontend) repo

[2022-02-01 17:06] VishwaAmarasinghe commented on #1166
@Piumal1999 I changed this to make the footer year correctly. Is it okay .

[2022-02-02 06:59] VishwaAmarasinghe commented on #1166
Can you assign me for this?

[2022-02-02 07:59] #1166 closed, assigned to nobody

[2022-02-04 03:55] #1167 closed, assigned to nobody

[2022-02-16 05:47] #1150 closed, assigned to Madhawa97

[2022-02-16 08:35] akeel230 opened #1168 ""Our Journey so far" section information update"
**Is your feature request related to a problem? Please describe.**
The information in our journey so far section is outdated. and a HIVE thread is created by @akshika47 with the new data input.

**Describe the solution you'd like**
Get the information from the Hive thread and replace the info with the existing data for the same structure design
https://sef.discourse.group/t/change-our-journey-so-f

[2022-02-16 08:36] Madhawa97 commented on #1168
I'd like to work on this.

[2022-02-16 08:37] akeel230 commented on #1168
Sure @Madhawa97 You can work on it.

[2022-02-16 11:50] akshika47 commented on #1168
I think the design also need to be responsive, on my screen it looked a bit out of shape.

[2022-02-16 13:27] Madhawa97 commented on #1168
Okay @akshika47 I will work on it.

[2022-02-16 19:44] Madhawa97 commented on #1168
Pushed the requested changes. would like to receive your feedback.

[2022-02-18 04:11] anjula-sack opened #1170 "Update the Academix project link"
**Is your feature request related to a problem? Please describe.**
- AcademiX project link has been changed but the site has the old one. We need to update the link with the new one.

**Describe the solution you'd like**
- Find the places with `https://apps.sefglobal.org/academix/`
- Replace them with `https://sef-academix.herokuapp.com/`

**Additional context**
- Use find and replace to replace t

[2022-02-18 04:14] YoshithaRathnayake commented on #1170
Shall I work on this ?

[2022-02-18 04:15] anjula-sack commented on #1170
sure go ahead

[2022-02-18 04:15] YoshithaRathnayake commented on #1170
Thank you @anjula-sack

[2022-02-18 12:16] #1170 closed, assigned to YoshithaRathnayake

[2022-03-04 18:58] Piumal1999 opened #1172 "Add archives section to Scholarx 2022"
**Is your feature request related to a problem? Please describe.**
The archives section is missing on https://sefglobal.org/scholarx/2022/

**Describe the solution you'd like**
Add the archives section. (Similar to the archives section in https://sefglobal.org/scholarx/2021/)

**Describe alternatives you've considered**
N/A

**Additional context**
N/A

**Are you working on it?**
No

[2022-03-04 18:58] Piumal1999 opened #1173 "Add ScholarX 2021 and ScholarX summer to archives"
**Is your feature request related to a problem? Please describe.**
We need to add scholarx 2021 and scholarx summer to the https://sefglobal.org/scholarx/archive/ page

**Describe the solution you'd like**
Create a cards for scholarx 2021 and scholarx summer in https://github.com/sef-global/sef-site/blob/master/scholarx/archive/index.html

**Describe alternatives you've considered**
N/A

**Additio

[2022-03-04 18:59] Piumal1999 opened #1174 "Remove "Find a mentor for me" section from ScholarX summer"
**Is your feature request related to a problem? Please describe.**
The "Find a mentor for me" is still there on the scholarx summer page even after the end of the program. Need to remove that  section.

**Describe the solution you'd like**
Remove the "Find a mentor for me" section

**Describe alternatives you've considered**
N/A

**Additional context**
N/A

**Are you working on it?**
No

[2022-03-04 19:01] #1168 closed, assigned to Madhawa97

[2022-03-16 12:27] YoshithaRathnayake commented on #1174
Shall I work on this ?

[2022-03-16 14:47] sathmikaDev opened #1175 "Homepage content is not aligned properly in the mobile view"
**Is your feature request related to a problem? Please describe.**
The first impression may not be a good one as the main section is not well aligned when someone browses this website using their mobile phone

**Describe the solution you'd like**
Make it center-aligned as other sections for mobile devices

**Describe alternatives you've considered**
N/A

**Additional context**
N/A

**Are you worki

[2022-03-20 10:24] dinuka-rp opened #1178 "Update Website Content of the SEF team"
Move the following people from the Executive Committee section to the Alumni section
- Kithmin
- Amaya
- Ramith
- Chalani

---

Update the list of new APMs with the following names, under the Executive Committee section
- Shimani Attygalle
- Visal Rajapakse
- Dinuka Piyadigama
- Ashen Hirantha
- Nayanathara Hendeniya
- Shadini Kalansooriya

[2022-03-21 13:43] YoshithaRathnayake commented on #1173
Shall I work on this ?

[2022-03-21 13:43] YoshithaRathnayake commented on #1178
Shall I work on this ?

[2022-03-21 14:47] anjula-sack opened #1179 "Rename apply button in scholarX 2022 page"
**Is your feature request related to a problem? Please describe.**
Currently we are in mentee application so that apply as a mentor button needs to be changed
<img width="441" alt="image" src="https://user-images.githubusercontent.com/43912578/159286291-9c54feff-2398-4484-961c-2982348e3c4b.png">

**Describe the solution you'd like**
- Rename the button to `APPLY AS A MENTEE`

**Are you working on

[2022-03-21 14:49] YoshithaRathnayake commented on #1179
Shall I work on this ?

[2022-03-21 14:50] anjula-sack commented on #1179
sure go ahead

[2022-03-21 14:53] Piumal1999 commented on #1178
The content on team page is loaded from a google sheet using a script. We should update that sheet to add the new profiles. Am i right? @gajindubandara @Gravewalker666

[2022-03-21 14:54] Piumal1999 commented on #1174
Yeah @YoshithaRathnayake

[2022-03-21 14:54] Piumal1999 commented on #1173
Assigned @YoshithaRathnayake

[2022-03-21 15:05] #1179 closed, assigned to YoshithaRathnayake

[2022-03-21 15:24] dinuka-rp opened #1181 "ScholarX prog content: FAQ deadline mismatch with program timeline"
The deadline in the FAQ doesn't match with the timeline (7th of April 2022).
![image](https://user-images.githubusercontent.com/47103883/159292042-32480da9-203e-415f-93c2-23af3e3a11b3.png)

[2022-03-22 09:08] YoshithaRathnayake commented on #1181
Shall I work on this ?

[2022-03-22 09:11] Piumal1999 commented on #1181
Yeah @YoshithaRathnayake

[2022-03-22 09:17] YoshithaRathnayake commented on #1172
Shall I work on this ?

[2022-03-22 09:18] Piumal1999 commented on #1172
Assigned @YoshithaRathnayake

[2022-03-22 15:19] #1172 closed, assigned to YoshithaRathnayake

[2022-03-22 16:10] #1181 closed, assigned to YoshithaRathnayake

[2022-03-22 16:53] #1174 closed, assigned to YoshithaRathnayake

[2022-03-24 11:58] YoshithaRathnayake opened #1186 "Change all the projects FAQ sections' topics to 'Frequently Asked Questions'"
**Is your feature request related to a problem? Please describe.**
Currently, in upspeak in the FAQ section there is 'FAQ' but in IRC, OnLive, Student Ambassadors in the FAQ section there is 'Frequently Asked Questions'

**Describe the solution you'd like**
Make the all projects' FAQ section to 'Frequently Asked Questions' except scholarx

**Screenshots**

IRC
![image](https://user-images.githubus

[2022-03-24 11:58] YoshithaRathnayake commented on #1186
Shall I work on this ?

[2022-03-24 13:37] anjula-sack commented on #1186
sure, Go ahead. :)

[2022-03-24 15:27] Gravewalker666 opened #1187 "Update the ScholarX 2022 page FAQ section"
#### Definition of done:
The answer for the question "How are mentors assigned?" under FAQ for mentees should be changed to what's given in this issue.

**New content**

[2022-03-25 00:54] YoshithaRathnayake commented on #1187
Shall I work on this ?

[2022-03-25 04:44] Gravewalker666 commented on #1187
Sure go ahead @YoshithaRathnayake

[2022-03-25 09:33] #1186 closed, assigned to YoshithaRathnayake

[2022-03-26 05:01] #1187 closed, assigned to YoshithaRathnayake

[2022-03-27 12:19] YoshithaRathnayake opened #1190 "Remove the current Leaderboard link and put the correct link in README.md file"
**Describe the bug**
Currently, in the README.md file [SEF Group Pages and Other Projects](https://github.com/sef-global/sef-site#sef-group-pages-and-other-projects) section the link for the Leaderboard is wrong.

- Current (wrong) link https://sefglobal.org/github-leaderboard
- Correct link https://sef-github-leaderboard.herokuapp.com

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '[

[2022-03-27 12:21] YoshithaRathnayake commented on #1190
Shall I work on this ?

[2022-03-27 15:10] #1190 closed, assigned to YoshithaRathnayake

[2022-04-08 12:25] Gravewalker666 opened #1192 "Update the Mentee Application deadline on ScholarX 2022 page"
**Definition of done:**
"Student application close" date on ScholarX 2022 page should be updated to what's mentioned in this issue

New deadline: 10 April, 2022

[2022-04-08 23:47] YoshithaRathnayake commented on #1192
Shall I work on this ?

[2022-04-09 03:06] #1192 closed, assigned to YoshithaRathnayake

[2022-04-10 13:36] YoshithaRathnayake opened #1194 "Fix the error in Scholarx Archive 2021 page Check out our archive button"
**Describe the bug**
Currently, in [Scholarx Archive 2021](https://sefglobal.org/scholarx/archive/2021/) page `Check out our archive` section the link in the button is wrong and it is redirecting to this [link](https://sefglobal.org/scholarx/archive/archive).

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '[Scholarx Archive 2021](https://sefglobal.org/scholarx/archive/2021/) page'
2.

[2022-04-10 14:58] #1173 closed, assigned to YoshithaRathnayake

[2022-04-11 07:25] anjula-sack opened #1195 "Update the Mentee Application deadline on ScholarX 2022 page"
**Definition of done:**
"Student application close" date on ScholarX 2022 page should be updated to what's mentioned in this issue

New deadline: 17 April, 2022

[2022-04-11 07:32] YoshithaRathnayake commented on #1195
Shall I work on this ?

[2022-04-11 17:16] #1195 closed, assigned to YoshithaRathnayake

[2022-04-12 02:58] anjula-sack commented on #1194
We removed that from the page right? @YoshithaRathnayake

[2022-04-12 03:02] YoshithaRathnayake commented on #1194
Oh!
Yes, Sorry @anjula-sack.
I will close the issue.

[2022-04-12 03:02] #1194 closed, assigned to nobody

[2022-06-07 06:22] anjula-sack opened #1197 "Update ScholarX 2022 timeline"
**Is your feature request related to a problem? Please describe.**
- We need to update the [ScholarX 2022 timeline](https://sefglobal.org/scholarx/2022/).

**Describe the solution you'd like**
- Update the timeline with the following.

Community bonding	                 15 May, 2022 - 28 May, 2022
Official start date of ScholarX	29 May, 2022
Mid-Evaluation	                         31 Aug, 2022
End

[2022-06-07 06:53] miniskynet commented on #1197
@anjula-sack please assign this to me

[2022-06-07 08:01] #1197 closed, assigned to miniskynet

[2022-07-19 10:31] anjula-sack opened #1199 "The developer badges page profile image is not loading"
**Describe the bug**
- The developer badges page profile image is not loading

**To Reproduce**
Steps to reproduce the behavior:
1. Go to [developer page](https://sefglobal.org/developers/index.html?user=anjisvj&badge=5)
2. See profile image is not loaded

**Expected behavior**
- The profile image should load properly

You can find the URL generating function [here](https://github.com/sef-global/s

[2022-07-19 11:08] Tharindu37 commented on #1199
I would like to work on this

[2022-07-19 11:13] anjula-sack commented on #1199
sure go ahead

[2022-07-19 11:14] anjula-sack commented on #1199
A working URL is looked like this https://yyz1.discourse-cdn.com/free1/user_avatar/sef.discourse.group/anjisvj/240/7_2.png
@Tharindu37

[2022-07-19 17:54] #1199 closed, assigned to Tharindu37

[2022-07-22 13:33] YoshithaRathnayake opened #1201 "Move the pull request template to the .github directory"
**Is your feature request related to a problem? Please describe.**
Currently, the PR template isn't in a directory

**Describe the solution you'd like**
Move the pull request template to the .github directory

[2022-07-22 13:33] YoshithaRathnayake commented on #1201
Shall I work on this ?

[2022-07-26 12:11] dave-v0 opened #1202 "Add colored indicator to mark to present time line of month in ScholarX page"
**Is your feature request related to a problem? Please describe.**
In the timeline of the ScholarX page, there is no colored indicator to display the current position of the ScholarX process

**Describe the solution you'd like**
Addition of a colored indicator to the present month in the timeline

**Describe alternatives you've considered**
Adding a blue-colored indicator to the timeline

**Additi

[2022-07-26 12:12] dave-v0 commented on #1202
@anjula-sack Can I work on this, please?

[2022-07-26 15:01] anjula-sack commented on #1202
sure go ahead

[2022-08-05 03:33] #1178 closed, assigned to nobody

[2022-08-05 03:34] anjula-sack opened #1203 "Update scholarX team in the team page"
**Is your feature request related to a problem? Please describe.**
We need to update scholarX team in the team page.

**Describe the solution you'd like**
* Move the last year's scholarX team to the alumni section except for Kithmin Wickremasinghe.
* Add this year's team, All of them are Assistant Program Managers

    - Ashen Hirantha
    - Visal Rajapakse
    - Nayanathara hendeniya
    - Dinuka

[2022-08-05 04:01] kumuditha-udayanga commented on #1203
I would like to work on this

[2022-08-05 04:01] anjula-sack commented on #1203
Awesome, go ahead

[2022-08-05 10:17] #1201 closed, assigned to YoshithaRathnayake

[2022-08-06 15:15] anjula-sack opened #1205 "Add SEF handbook link to the navbar and the footer"
**Is your feature request related to a problem? Please describe.**
- We need to add the SEF handbook link to the SEF site

**Describe the solution you'd like**
- Add a link called `Handbook`  to the navbar and the header
- Link it to https://handbook.sefglobal.org/
- Open the link in a new window

**Are you working on it?**
No

[2022-08-06 15:16] YoshithaRathnayake commented on #1205
Shall I work on this?

[2022-08-06 15:17] anjula-sack commented on #1205
Go ahead @YoshithaRathnayake

[2022-08-06 15:22] YoshithaRathnayake commented on #1205
Thank you @anjula-sack

[2022-08-06 16:16] YoshithaRathnayake opened #1207 "Fix the bugs in the footer in the mobile view"
**Describe the bug**
Currently, the footer of the sef-site in the resolution ( Mobile View < 991 )

**To Reproduce**
Steps to reproduce the behavior:
1. Go to [SEF-SITE](https://www.sefglobal.org)
3. Scroll down to 'Footer'
4. See error

**Expected behavior**
Fix the bugs in the footer in the resolution ( Mobile View < 991 )

**Screenshots**

![image](https://user-images.githubusercontent.com/9706

[2022-08-06 16:16] YoshithaRathnayake commented on #1207
Shall I work on this ?

[2022-08-07 04:01] anjula-sack commented on #1203
Thank you @kumuditha-udayanga for getting this done.

[2022-08-07 04:01] #1203 closed, assigned to kumuditha-udayanga

[2022-08-07 08:46] #1205 closed, assigned to YoshithaRathnayake

[2022-08-08 05:10] anjula-sack opened #1210 "Add the slack channel invitation link to the site"
**Is your feature request related to a problem? Please describe.**
- We are missing the slack channel invitation on the site.

**Describe the solution you'd like**
- Add the link to the navbar and the footer alongside the social media links

Link: https://join.slack.com/t/sefheadquarters/shared_invite/zt-1ds9bjtli-ry~ggwf2kSJ_j5src89GBQ

**Are you working on it?**
No

[2022-08-08 05:32] anjula-sack opened #1211 "Sort the alumni section in the team page"
**Is your feature request related to a problem? Please describe.**
- We need to sort the alumni section based on their role in SEF

**Describe the solution you'd like**
- Rename Webmaster to Software Engineer
- Sort the names in the team google sheet based on the below order,

Deputy Chairperson
Chief Executive Officer
Chief Technology Officer
Chief Marketing Officer
Chief Communications Officer
C

[2022-08-08 05:43] anjula-sack opened #1212 "Add the hive discourse group link on the site"
**Is your feature request related to a problem? Please describe.**
- We are missing the Hive discourse group link on the site.

**Describe the solution you'd like**
- Add the link to the navbar and the footer alongside the social media links

Link: https://sef.discourse.group/

**Are you working on it?**
No

[2022-08-08 11:02] athulmekkoth commented on #1210
can I work on this?

[2022-08-08 11:10] anjula-sack commented on #1210
sure go ahead

[2022-08-08 11:58] kumuditha-udayanga commented on #1211
I would like to work on this

[2022-08-08 13:08] YoshithaRathnayake commented on #1212
Shall I work on this ?

[2022-08-08 13:20] YoshithaRathnayake commented on #1210
@anjula-sack this pr still not closed because the pr was not linked with the issue number right? So you have to do it manual no?

[2022-08-08 13:28] YoshithaRathnayake commented on #1202
@anjula-sack This issue is not closed yet right?

[2022-08-08 19:42] dave-v0 opened #1214 "Increase size of SEF logo in the SEF website navbar"
**Describe the bug**
The SEF logo in the navbar is too small

**Expected behavior**
Enlarged SEF navbar logo

**Screenshots**
![image](https://user-images.githubusercontent.com/104125359/183500949-1905b268-bd73-45be-9f53-ec797c214ca8.png)

**Are you working on it?**
Yes

[2022-08-08 19:43] dave-v0 commented on #1214
@anjula-sack Can you assign me on this, please?

[2022-08-09 10:45] anjula-sack commented on #1214
sure go ahead

[2022-08-09 10:45] #1202 closed, assigned to dave-v0

[2022-08-09 14:41] #1212 closed, assigned to YoshithaRathnayake

[2022-08-10 06:03] dave-v0 opened #1217 "Increasing text size in SEF website navbar"
**Describe the bug**
The text in the SEF navbar is too small

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'https://sefglobal.org/'
4. See error

**Expected behavior**
Increased text size in navbar

**Screenshots**
If applicable, add screenshots to help explain your problem.
![image](https://user-images.githubusercontent.com/104125359/183826884-558b50ab-a095-40f2-98fc-c6d9fc59450a.pn

[2022-08-10 06:03] dave-v0 commented on #1217
Can you assign me to this issue, please? I'd like to work on it @anjula-sack

[2022-08-10 06:16] #1214 closed, assigned to dave-v0

[2022-08-10 06:18] anjula-sack commented on #1210
yes

[2022-08-10 06:18] #1210 closed, assigned to athulmekkoth

[2022-08-10 06:23] anjula-sack commented on #1217
Now it seems okay since the logo is bigger.

[2022-08-10 06:33] dave-v0 commented on #1217
okay then!

[2022-08-10 06:33] #1217 closed, assigned to nobody

[2022-08-14 01:19] dave-v0 opened #1219 "Fix the SEF blog link to open in a new page"
**Describe the bug**
The SEF Blog opens and loads in the same page when clicked

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '[(https://sefglobal.org/)]'
2. Click on 'Blog'
3. See error

**Expected behavior**
The blog link should open in a new tab when clicked

**Screenshots**
![image](https://user-images.githubusercontent.com/104125359/184518552-17981288-a630-4f7b-897b-95b23e22b178

[2022-08-14 01:19] dave-v0 commented on #1219
I'd like to work on this, can you assign me to this please? @anjula-sack

[2022-08-14 02:17] dave-v0 opened #1220 "Removed unused images for the asset folder"
**Describe the bug**
There are many unused images in the SEF site of the asset folder

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'https://github.com/sef-global/sef-site/tree/master/assets'

**Expected behavior**
Remove all unused images from the asset folder of the SEF site

**Screenshots**
![image](https://user-images.githubusercontent.com/104125359/184519721-f3bf9afd-9360-4f7b-a

[2022-08-14 02:18] dave-v0 commented on #1220
Can you assign me to this @anjula-sack ?

[2022-08-14 02:57] anjula-sack commented on #1220
go ahead

[2022-08-18 11:37] #1220 closed, assigned to dave-v0

[2022-08-21 02:07] Tharindu37 commented on #1219
I'd like to work on this.

[2022-08-21 03:40] anjula-sack commented on #1219
This is assigned to @DilinaBandara

[2022-08-30 16:39] #1219 closed, assigned to dave-v0

[2022-09-11 11:16] Madhawa97 opened #1225 "Add ScholarX Success Stories page"
**Is your feature request related to a problem? Please describe.**
Add a ScholarX Success Stories page where everyone can see the stories of successful ScholaX Gradudates.

**Describe the solution you'd like**
Add a dedicated page to list down the success stories.

**Additional context**
Hive thread:
https://sef.discourse.group/t/scholarx-success-stories-page/420/20

![Screenshot 2022-09-11 at 16

[2022-09-14 15:56] #950 closed, assigned to nobody

[2022-09-18 07:03] anjula-sack opened #1227 "The hero image is missing in past ScholarX pages"
**Describe the bug**
The hero image is missing in past ScholarX pages

**To Reproduce**
Steps to reproduce the behavior:
1. Go to [ScholarX archive](https://sefglobal.org/scholarx/archive/)
2. Click on a card ex:([2019](https://sefglobal.org/scholarx/archive/2019/))
3. See the image is missing

**Expected behavior**
- The hero image should be there

**Screenshots**
<img width="860" alt="image" src

[2022-09-18 07:54] Tharindu37 commented on #1227
I would like to work on this

[2022-09-18 09:10] #1227 closed, assigned to Tharindu37

[2022-10-01 14:49] #1225 closed, assigned to Madhawa97

[2022-10-01 14:49] anjula-sack commented on #1211
Thanks for getting this done! @kumuditha-udayanga

[2022-10-01 14:49] #1211 closed, assigned to kumuditha-udayanga

[2022-10-01 14:54] anjula-sack opened #1229 "Remove "Apply as a mentee" button from the scholarX 2022 page"
**Is your feature request related to a problem? Please describe.**
- Since we are no longer in the mentee application we can remove that button

**Describe the solution you'd like**
- Remove "Apply as a mentee" button

<img width="433" alt="image" src="https://user-images.githubusercontent.com/43912578/193415301-c0cd5179-7041-40fa-8265-36b9e2940f68.png">

**Are you working on it?**
No

[2022-10-01 15:00] tarunvashishth commented on #1229
I want to work on this

[2022-10-01 15:02] anjula-sack commented on #1229
sure go ahead :)

[2022-10-01 15:07] SamikshaSankar opened #1230 "Make header sticky"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
Make header sticky

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Additional context**
Add any other context

[2022-10-01 15:08] SamikshaSankar commented on #1230
Please assign me this issue

[2022-10-01 16:06] vikash485 commented on #1229
Hello @anjula-sack , can I contribute towards this issue for my first hacktoberfest?

[2022-10-01 16:09] dave-v0 opened #1231 "Align the Success Stories page in mobile"
**Describe the bug**
Currently, the Success Stories page is not properly aligned in the mobile view

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'https://sefglobal.org/success_stories/'
4. See an error

**Expected behavior**
The page is supposed to be center aligned in mobile view

**Screenshots**
![image](https://user-images.githubusercontent.com/104125359/193418220-90f2b22c-652b-4

[2022-10-01 16:11] Madhawa97 commented on #1231
Hi @DilinaBandara. Have you tried refreshing afterwards?

[2022-10-01 16:20] dave-v0 opened #1233 "Edit font size in mobile view in Success story page"
**Describe the bug**
The font size in mobile view on the Success story page is too large

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'https://sefglobal.org/success_stories/'
4. See error

**Expected behavior**
The text should be larger than the sub-text, but not too large in the mobile

**Screenshots**
![image](https://user-images.githubusercontent.com/104125359/193418597-48808a6b-

[2022-10-01 16:25] dave-v0 opened #1234 "Edit spacing in text of Success Stories page"
**Describe the bug**
There is unwanted spacing in the text on the Success Stories page

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'https://sefglobal.org/success_stories/'

**Screenshots**
![image](https://user-images.githubusercontent.com/104125359/193418838-eb2620e3-f858-4b31-8f82-2ab038e77b2b.png)

**Are you working on it?**
Yes

[2022-10-01 16:33] #1229 closed, assigned to tarunvashishth

[2022-10-01 16:39] dave-v0 opened #1235 "Decrease size and add spacing between buttons in dev page"
**Describe the bug**
The size of the buttons is too big and there is no spacing between buttons on the dev page

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'https://sefglobal.org/devpage.html'

**Expected behavior**
There should be more space between the "view in GitHub" and "open project"
 buttons and should decrease the price

**Screenshots**
![image](https://user-images.githubus

[2022-10-01 16:43] dave-v0 opened #1236 "Add more spacing between topics and buttons in dev page"
**Describe the bug**
There is less space between topics and buttons whereas it is very close to each other

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'https://sefglobal.org/devpage.html'

**Expected behavior**
There should be more spacing between topics and buttons

**Screenshots**
![image](https://user-images.githubusercontent.com/104125359/193419467-bbd0d972-71c1-49c7-995d-b7ae4

[2022-10-01 16:51] Piumal1999 opened #1238 "Add a loading skeleton to success stories page"
**Is your feature request related to a problem? Please describe.**
On the success stories page, It takes a few seconds to get the content through the API, render it using mustache and display it on the page. We can display some kind of animation until the content is rendered properly.

**Describe the solution you'd like**
Display a loading skeleton until the loading is completed.
Examples:
loading

[2022-10-01 16:57] dave-v0 commented on #1231
Hi @Madhawa97 yes I did, it is properly right now
![image](https://user-images.githubusercontent.com/104125359/193419988-6d53d0c9-481e-4ee0-ac60-7dd878ff5581.png)

Are you supposed to have the option to have more spacing in the right when dragging the page to the left?
![image](https://user-images.githubusercontent.com/104125359/193420003-bb324736-d10f-431f-92f0-3c13bef296bf.png)

Can you take a l

[2022-10-01 17:07] Madhawa97 commented on #1231
@DilinaBandara its not suppose to happen and I can't replicate it when resizing the window. but It happens sometimes if I choose the iPhone 12 dimensions. not all the time though. and With a refresh it get fixed.
![Screenshot 2022-10-01 at 22 36 48](https://user-images.githubusercontent.com/70215958/193420384-e37620e4-fb71-47ab-8a04-5e73612dd0f5.jpg)

[2022-10-01 17:08] Madhawa97 commented on #1238
I would like to work on this @Piumal1999

[2022-10-01 19:34] Madhawa97 opened #1239 "Overlapping in Testimonial Section in Mobile View"
**Describe the bug**
With a lengthy author name, the text get overlapped with the auther details in mobile view.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'https://sefglobal.org/' via a mobile device or dimensions set a iPhone 12 screen size.
3. Scroll down to 'Testimonial section'.
4. See overlapped Text in the third testimonial.

**Expected behavior**
The text should not be ove

[2022-10-02 01:14] anjula-sack commented on #1231
This seems to happen even if you visit it using the mobile directly. @Madhawa97

[2022-10-02 06:38] Madhawa97 commented on #1231
doesn't happen on Samsung M11 device. @DilinaBandara can you also verify this?

[2022-10-02 11:26] #1239 closed, assigned to Madhawa97

[2022-10-02 13:21] dave-v0 commented on #1231
Couldn't test on M11, but tested on a Nokia 2.3 device, and faced the same issue
![image](https://user-images.githubusercontent.com/104125359/193456259-7530ff54-705d-485b-b193-345fb38df37c.png)

Can you take a look regarding this?

[2022-10-02 15:58] yogesh-9999 commented on #1236
Hey @DilinaBandara please assign this issue to me

[2022-10-02 15:59] yogesh-9999 commented on #1230
@SamikshaSankar please assign me this issue

[2022-10-02 16:01] yogesh-9999 commented on #1234
hey @anjula-sack please assign me this issue

[2022-10-02 16:27] Madhawa97 commented on #1231
Strange. It looks good on M11, Pixel 4a, Xiaomi Note 8 and iPhone 13. But yeah sure. I will further look into it.

[2022-10-02 16:35] dave-v0 opened #1247 "Add "Success Stories" page link in drop down menu"
**Is your feature request related to a problem? Please describe.**
Currently, we cannot access the success stories page since there is no link available to visit in the website

**Describe the solution you'd like**
Add  Success stories page link to the drop-down menu

**Describe alternatives you've considered**
Add a Success stories page link to the drop-down menu

**Are you working on it?**
Yes

[2022-10-02 16:36] dave-v0 commented on #1247
Can you please assign me @anjula-sack

[2022-10-02 16:37] Madhawa97 commented on #1247
Hi Dilina. I was assigned to this in the previous stand up. We decided to add it to the ScholarX page instead of adding it on the navigation menu.

[2022-10-02 16:39] dave-v0 commented on #1247
@Madhawa97 Sure Madhawa, not a problem :)

[2022-10-02 16:39] #1247 closed, assigned to nobody

[2022-10-02 16:49] #1236 closed, assigned to dave-v0

[2022-10-02 17:00] #1234 closed, assigned to dave-v0

[2022-10-03 05:11] jayasanka-sack opened #1248 "Update the slack invitation link"
**Describe the bug**
The current slack invitation link has expired. Please update it with the following link: https://join.slack.com/t/sefheadquarters/shared_invite/zt-1h5zt3go4-wnRDDpecbWiTdpDv1VUoVg

**Places to update**
- [ ] Menu (Join us > slack)
- [ ] Footer

**Are you working on it?**
No

[2022-10-03 05:27] Madhawa97 commented on #1248
I would like to work on this @jayasanka-sack

[2022-10-03 06:05] dave-v0 commented on #1235
@anjula-sack Can you please take a look at this PR?

[2022-10-03 07:15] #1238 closed, assigned to Madhawa97

[2022-10-03 07:16] anjula-sack commented on #1230
go ahead @SamikshaSankar

[2022-10-03 07:56] #1235 closed, assigned to dave-v0

[2022-10-03 07:57] RandilaP commented on #1248
Can i work on this

[2022-10-03 08:13] Madhawa97 opened #1250 "Add a section to the ScholarX page to access the success stories page"
**Is your feature request related to a problem? Please describe.**
Currently users can't navigate to the ScholarX Success Stories page.

**Describe the solution you'd like**
Add a section to the ScholarX page to access the success stories page.

**Describe alternatives you've considered**
None

**Additional context**
ScholarX Success Stories page was introduced with #1226

**Are you working on it?

[2022-10-03 09:16] #1231 closed, assigned to nobody

[2022-10-03 14:18] #1248 closed, assigned to Madhawa97

[2022-10-03 15:21] #1175 closed, assigned to sathmikaDev

[2022-10-04 04:03] dave-v0 opened #1253 "Update Scholar X timeline"
**Is your feature request related to a problem? Please describe.**
The Scholar X timeline has not been updated

**Describe the solution you'd like**
Changing the indicated to the necessary date

**Describe alternatives you've considered**
Adding the colored indicator to the necessary date

**Additional context**
![image](https://user-images.githubusercontent.com/104125359/193731693-5bdcc6df-96e8-4

[2022-10-04 04:03] dave-v0 commented on #1253
Can you assign me to this please @anjula-sack

[2022-10-04 04:15] dave-v0 opened #1254 "Align the links properly in footer in Mobile view"
**Describe the bug**
Currently, the links in the footer is not properly aligned in the mobile view

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'https://sefglobal.org/'
2. See error

**Expected behavior**
The links in the footer should be aligned properly

**Screenshots**
![image](https://user-images.githubusercontent.com/104125359/193732734-f4670f36-257a-4282-9200-24b1f0436e1a.png)

[2022-10-04 06:28] anjula-sack commented on #1254
Thank you @DilinaBandara for identifying this bug, but there's an issue for this already https://github.com/sef-global/sef-site/issues/1207

[2022-10-04 06:28] #1254 closed, assigned to nobody

[2022-10-04 10:45] anjula-sack commented on #1253
A better solution might be to make it update automatically. @DilinaBandara

[2022-10-04 14:58] Piumal1999 opened #1257 "Add suitable icons to mobile view navbar"
**Is your feature request related to a problem? Please describe.**
In the mobile view navbar, 3 items have the same icon. (About us, initiatives, join us). Replace those with suitable icons that match with the names.

<img width="465" alt="image" src="https://user-images.githubusercontent.com/27498587/193853057-2648ae36-be3f-4eb2-9656-76c660489bc5.png">

**Describe the solution you'd like**
Add su

[2022-10-04 15:01] sathmikaDev commented on #1230
@Piumal1999 @anjula-sack   hello, can you assign me also ?

[2022-10-04 15:39] harsitagarwalla187 commented on #1257
Can i work in this issue?

[2022-10-04 16:47] YoshithaRathnayake commented on #1257
Shall I work on this ?

[2022-10-05 01:56] #1257 closed, assigned to nobody

[2022-10-05 02:00] #1253 closed, assigned to dave-v0

[2022-10-07 17:53] #1233 closed, assigned to dave-v0

[2022-10-07 17:55] Piumal1999 commented on #1230
Hi @SamikshaSankar, any update on the this?

[2022-10-08 10:15] anjula-sack opened #1261 "Change the directory name of the success stories"
**Is your feature request related to a problem? Please describe.**
Current URL for ScholarX success stories page like `success_stories`. It needs to be `success-stories`. You can read about this [here](https://www.toro.com/en/brand-manager/brand-applications/digital/website-digital-property-policy/url-naming-best-practices#:~:text=Always%20use%20a%20hyphen%20(%2D),of%20the%20words%20for%20evaluati

[2022-10-08 10:29] anjula-sack opened #1262 "Add meta tags to the engineering page"
**Is your feature request related to a problem? Please describe.**
The engineering page is missing a meta description. We need to add it for better SEO.

**Describe the solution you'd like**
- Add the below description as the meta description

The engineering team is the backbone of the SEF community. This team is saturated with potent young talent who engage in various challenges when it comes to

[2022-10-08 10:35] itzwow commented on #1261
I would like to work upon it can you kindly assign it to me

[2022-10-08 10:37] itzwow commented on #1262
I would like to work on this issue. Can you kindly assign it to me

[2022-10-08 10:43] Piumal1999 commented on #1261
Assigned @itzwow

[2022-10-08 10:45] 2201monesh commented on #1262
Hey @anjula-sack can you please assign this issue to me

[2022-10-08 11:33] #1261 closed, assigned to itzwow

[2022-10-08 12:00] #1262 closed, assigned to itzwow

[2022-10-08 13:52] YoshithaRathnayake opened #1265 "Success Stories page footer thematic break is went down"
**Describe the bug**
Currently, Success Stories page footer thematic break is went down

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'Success Story Page'
3. Scroll down to 'footer'
4. See error

**Expected behavior**
FIx it like the home page footer

**Screenshots**
Home

![image](https://user-images.githubusercontent.com/97069900/194710882-0ea1b082-e5ad-4cb4-bd68-9c847de40b63.png)

[2022-10-08 13:58] YoshithaRathnayake commented on #1265
Shall I work on this ?

[2022-10-08 14:17] YoshithaRathnayake opened #1266 "Increase the margin of the Apply Now button in Join Us Page"
**Describe the bug**
Currently, the Apply Now button is sticked to the paragraph in the top of the button in Join Us page

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'Join Us Page'
3. Scroll down to 'Apply Now Section'
4. See error

**Expected behavior**
Increase the margin between the button and the paragraph

**Screenshots**
![image](https://user-images.githubusercontent.com/9706

[2022-10-08 14:18] YoshithaRathnayake commented on #1266
Shall I work on this ?

[2022-10-08 14:38] anjula-sack commented on #1266
yeah sure

[2022-10-08 14:38] YoshithaRathnayake opened #1267 "The footer icons are sticked in the mobile view"
**Describe the bug**
Currently, footer icons are sticked together in mobile view (from 419 resolution)

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'sef site'
3. Scroll down to 'footer'
4. See error

**Expected behavior**
Add a margin to fix it

**Screenshots**
![image](https://user-images.githubusercontent.com/97069900/194712887-4ecdf4d1-a566-4ef5-b030-c4d763a6957f.png)

**Are you

[2022-10-08 14:39] anjula-sack commented on #1265
sure

[2022-10-08 14:39] YoshithaRathnayake commented on #1266
Thanks @anjula-sack

[2022-10-08 14:39] YoshithaRathnayake commented on #1265
Thanks @anjula-sack

[2022-10-08 14:39] YoshithaRathnayake commented on #1267
Shall I work on this ?

[2022-10-09 01:23] Tharindu37 commented on #1267
I would like to work on this

[2022-10-09 01:58] anjula-sack commented on #1267
I assigned @Tharindu37 cuz you already have two assigned issues

[2022-10-09 02:03] #1250 closed, assigned to Madhawa97

[2022-10-09 02:15] YoshithaRathnayake opened #1271 "Fix the slack and hive link in the nav bar to open in a new window"
**Is your feature request related to a problem? Please describe.**
Currrently, the slack and the hiv link in the nav bar is opening in the same window

**Describe the solution you'd like**
Fix it to open in another window

**Are you working on it?**
Yes

[2022-10-09 02:15] YoshithaRathnayake commented on #1271
Shall I work on this ?

[2022-10-09 02:25] YoshithaRathnayake commented on #1267
Ok 👍

[2022-10-09 02:59] #1266 closed, assigned to YoshithaRathnayake

[2022-10-09 03:10] anjula-sack commented on #1271
sure

[2022-10-09 03:13] #1265 closed, assigned to YoshithaRathnayake

[2022-10-09 08:50] YoshithaRathnayake opened #1272 "Fix the Scholarx page alignments"
**Describe the bug**
Currently, the width of the scholarx page is increased

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'Scholarx Page'
4. See error

**Expected behavior**
Reduce the width of the scholarx page

**Screenshots**
See the horizontal scroll bar

![image](https://user-images.githubusercontent.com/97069900/194747311-138c3c12-1049-4354-8054-64244db5bf06.png)

**Are you wor

[2022-10-09 08:51] YoshithaRathnayake commented on #1272
Shall I work on this ?

[2022-10-09 10:01] Madhawa97 opened #1274 "ScholarX 2022 page alignment is off"
**Describe the bug**
The entire scholarx 2022 page is not aligned center and has a small extra space on the right side of the page.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'https://sefglobal.org/scholarx/2022/'
2. See error

**Expected behavior**
All content should be aligned properly.

**Screenshots**
![Screenshot 2022-10-09 at 15 19 50](https://user-images.githubusercontent.c

[2022-10-09 10:11] Madhawa97 opened #1275 "Move scholarx success stories folder inside the scholax folder"
**Is your feature request related to a problem? Please describe.**
The scholax `success-stories` folder should be inside of the scholax folder so that the url will be displayed as `https://sefglobal.org/scholarx/success-stories/`

**Describe the solution you'd like**
move the `succes-stories` folder from root to the `scholarx` folder. and update the access url on the `scholarx 2022` page

**Are yo

[2022-10-09 10:17] YoshithaRathnayake commented on #1275
Shall I work on this ?

[2022-10-09 10:17] YoshithaRathnayake commented on #1275
please assign this issue to me

[2022-10-09 10:28] #1271 closed, assigned to nobody

[2022-10-09 10:39] Madhawa97 opened #1276 "Fix thematic break styles removed with #1268"
**Describe the bug**
The hr tag (thematic break) on the story card takes so much space and their previous styles has been removed with the #1268

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'https://sefglobal.org/success-stories/'
2. Scroll down to a card
3. See error

**Expected behavior**
The hr tag on the card should not intervene with hr tag on the footer.

**Screenshots**
![Scr

[2022-10-09 10:43] Madhawa97 commented on #1276
Hi @anjula-sack Can you not assign me. I invited a friend.

[2022-10-09 10:45] YoshithaRathnayake commented on #1276
So if you are not working on this shall I work on this?

[2022-10-09 10:50] YoshithaRathnayake commented on #1276
That's a bug made myself no so I will fix it myself. Is it ok @anjula-sack and @Madhawa97 ?

[2022-10-09 10:57] Madhawa97 commented on #1276
It's okay @YoshithaRathnayake. I'm trying to get new collaborators involved with SEF.

[2022-10-09 10:58] geethaka-Nrs commented on #1276
I was invited by Madhawa. Can you assign me, please

[2022-10-09 10:58] YoshithaRathnayake commented on #1276
Ok 👍 I will give him the chance

[2022-10-09 11:00] #1274 closed, assigned to Madhawa97

[2022-10-09 11:06] Piumal1999 commented on #1276
Sure. Assigned @geethaka-Nrs.

[2022-10-09 11:15] YoshithaRathnayake commented on #1276
@Piumal1999 better if you put the hacktoberfest tag also right?

[2022-10-09 11:55] YoshithaRathnayake opened #1281 "Make the blog and the handbook links in the navbar to open in another window"
**Is your feature request related to a problem? Please describe.**
Currently, the blog and the handbook links in the navbar are opening in the same window

**Describe the solution you'd like**
Make the blog and the handbook links in the navbar to open in another window

**Are you working on it?**
Yes

[2022-10-09 11:55] YoshithaRathnayake commented on #1281
Shall I work on this ?

[2022-10-09 14:19] YoshithaRathnayake opened #1282 "Make the join us button in Engineering Team page to open in the same window"
**Is your feature request related to a problem? Please describe.**
Currently, the join us button in Engineering Team page is opening in another window

**Describe the solution you'd like**
Make the join us button in Engineering Team page to open in the same window

**Are you working on it?**
Yes

[2022-10-09 14:19] YoshithaRathnayake commented on #1282
Shall I work on this ?

[2022-10-09 14:28] sathmikaDev opened #1283 "The author information of the testimonial section, spreads out from the author div on mobile devices."
**Describe the bug**
The author information of the testimonial section, spreads out from the author div on mobile devices.  Furthermore some margin and padding values didn't set properly on mobile devices.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to https://sefglobal.org/
2. Click on inspect elements
3. Scroll down to testimonial section
4. See error

**Expected behavior**
set part

[2022-10-09 14:29] sathmikaDev commented on #1283
Hi, @Piumal1999, I am working on this, can you assign me

[2022-10-09 15:13] #1276 closed, assigned to geethaka-Nrs

[2022-10-09 15:16] Madhawa97 opened #1284 "Change the background color of the success-stories section of ScholarX 2022 page"
**Is your feature request related to a problem? Please describe.**
The `success-stories` section on the `scholarx 2022` page is not highlighted.

**Describe the solution you'd like**
The `success-stories` section on the `scholarx 2022` page should have a different background color (background-color: #f4f5f7;), so that the users can clearly  identify the section separately.
![Screenshot 2022-10-09

[2022-10-09 15:18] geethaka-Nrs commented on #1284
I'd like to work on this issue

[2022-10-09 15:24] anjula-sack opened #1285 "Font in the success stories seems to be different in Safari"
**Describe the bug**
- Font in the success stories seems to be different in Safari

**To Reproduce**
Steps to reproduce the behavior:
1. Go to the [success stories](https://sefglobal.org/success-stories/) page in safari
2. Go to the [success stories](https://sefglobal.org/success-stories/) page in chrome
3. See the difference in fonts

**Expected behavior**
The font should be same as in chrome

**

[2022-10-09 15:25] anjula-sack commented on #1284
Go ahead @geethaka-Nrs

[2022-10-09 15:25] YoshithaRathnayake commented on #1285
Shall I work on this ?

[2022-10-09 15:27] anjula-sack commented on #1285
I don't think you'll be able to reproduce this since it happens on safari. Are you using a mac?

[2022-10-09 15:28] YoshithaRathnayake commented on #1285
Yes I thought that bcs I don't have mac

[2022-10-09 15:30] anjula-sack opened #1286 "Success story card header text shouldn't be justified"
**Is your feature request related to a problem? Please describe.**
Success story card header text shouldn't be justified

<img width="378" alt="image" src="https://user-images.githubusercontent.com/43912578/194765420-35ca2c3d-bfee-4a8d-bd76-24f42574da78.png">

**Describe the solution you'd like**
- Remove ` text-align: justify;` from the story card header

**Are you working on it?**
No

[2022-10-09 15:31] YoshithaRathnayake commented on #1286
Shall I work on this ?

[2022-10-09 15:31] anjula-sack commented on #1285
yeah let's leave it to someone else

[2022-10-09 15:31] YoshithaRathnayake commented on #1285
yeah sure

[2022-10-09 15:32] anjula-sack commented on #1286
sure

[2022-10-09 16:32] sathmikaDev opened #1289 "There is no gap between social icons in the footer, on mobile devices"
**Describe the bug**
There is no gap between social icons in the footer, on mobile devices.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to https://sefglobal.org/
2. Click on inspect elements
3. Scroll down to the footer
4. See error

**Expected behavior**
set a y axis margin

**Screenshots**
![footer-icons](https://user-images.githubusercontent.com/99987075/194768501-bae99cf7-d528-4e3

[2022-10-09 16:37] YoshithaRathnayake commented on #1289
I think it's fixing from #1269 PR @Sathmikasenadheera01

[2022-10-09 16:41] sathmikaDev commented on #1289
ah yes !

[2022-10-09 17:00] #1283 closed, assigned to sathmikaDev

[2022-10-09 17:30] #1289 closed, assigned to nobody

[2022-10-09 19:11] #1284 closed, assigned to geethaka-Nrs

[2022-10-10 03:14] #1286 closed, assigned to YoshithaRathnayake

[2022-10-10 03:17] #1282 closed, assigned to YoshithaRathnayake

[2022-10-10 16:46] #1267 closed, assigned to Tharindu37

[2022-10-11 10:04] VishwaAmarasinghe opened #1294 "Fix colliding of buttons in Engineering Team pages mobile view"
**Describe the bug**
The view in github button and the open project button collide together in the engineering team page mobile view.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'https://sefglobal.org/devpage.html'
2. Scroll down to '....'
3. See error

**Expected behavior**
The button shouldn't collide. The open project button should go down.

**Screenshots**
![image](https://user

[2022-10-11 12:11] YoshithaRathnayake opened #1295 "Add a thematic break to navbar"
**Is your feature request related to a problem? Please describe.**
Currently, the difference between the navbar and the body can't see.

**Describe the solution you'd like**
Add a thematic break to navbar, like `academix` page

**Are you working on it?**
Yes

[2022-10-11 12:12] YoshithaRathnayake commented on #1295
Shall I work on this ?

[2022-10-11 12:13] YoshithaRathnayake commented on #1295
Tell me your suggestions for this. Is it good @anjula-sack @Piumal1999 @jayasanka-sack @Gravewalker666

[2022-10-11 12:17] YoshithaRathnayake opened #1296 "Link the email in the `Sign Up as a Researcher` Section in IRC page"
**Is your feature request related to a problem? Please describe.**
The email in the `Sign Up as a Researcher` Section, IRC page is not linked

**Describe the solution you'd like**
Link the email in the `Sign Up as a Researcher` Section in IRC page

**Are you working on it?**
Yes

[2022-10-11 12:17] YoshithaRathnayake commented on #1296
Shall I work on this ?

[2022-10-11 12:37] YoshithaRathnayake commented on #1295
How about this ?

![image](https://user-images.githubusercontent.com/97069900/195092363-ba0b16c4-9a90-4319-ab43-efa4f84d76db.png)

[2022-10-11 12:48] #1275 closed, assigned to YoshithaRathnayake

[2022-10-11 14:05] sathmikaDev commented on #1207
I'd like to work on this ?

[2022-10-11 14:14] Piumal1999 opened #1297 "ReadMe.LK link on press coverage section is not working"
**Describe the bug**
The ReadME.lk post about SEF is no longer there. The link redirects to a 404 error page.

<img width="1031" alt="image" src="https://user-images.githubusercontent.com/27498587/195114618-bf097444-ee82-4e11-abdc-9d284417737e.png">

<img width="1455" alt="image" src="https://user-images.githubusercontent.com/27498587/195114737-2e422629-6541-46de-be91-a3316be1582b.png">

**To Repr

[2022-10-11 14:16] Piumal1999 commented on #1297
@jayasanka-sack @anjula-sack Shall we just remove that logo?
Are there any other articles suitable for the press coverage section?

[2022-10-11 15:03] sathmikaDev opened #1298 "Hero section of Join Us page is not well aligned"
**Describe the bug**
Hero section of Join Us page is not well aligned both mobile and large screens.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to https://sefglobal.org/join-us.html
2. Click on inspect elements
3. See error

**Expected behavior**
Components in the hero section should be well aligned and responsive

**Screenshots**

*Desktop view*

![3dkgd1Efz1](https://user-images.gi

[2022-10-11 15:25] Piumal1999 commented on #1298
Assigned @Sathmikasenadheera01

[2022-10-11 15:35] anjula-sack commented on #1297
If the article is not existing we can remove it.
cc: @akshika47

[2022-10-11 15:43] Tharindu37 commented on #1297
I would like to work on this

[2022-10-11 15:44] anjula-sack commented on #1297
sure go ahead.

[2022-10-11 16:16] YoshithaRathnayake commented on #1207
I will work on this ok?

[2022-10-11 16:27] YoshithaRathnayake opened #1302 "Increase the gap between the image and the topic in the `Sign Up as a Researcher` Section at the IRC Page"
**Is your feature request related to a problem? Please describe.**
Currently, in the mobile view the gap between the image and the topic in the `Sign Up as a Researcher` Section of IRC page in less and its like sticked

**Describe the solution you'd like**
Add a margin to one of them

**Screenshots**
![image](https://user-images.githubusercontent.com/97069900/195147734-11f41119-1c30-4873-9a55-68fe

[2022-10-11 16:27] YoshithaRathnayake commented on #1302
Shall I work on this ?

[2022-10-11 16:28] sathmikaDev commented on #1207
okay

[2022-10-11 17:05] #1296 closed, assigned to YoshithaRathnayake

[2022-10-11 17:06] Anurag-Singh-04 commented on #1294
Hey @Piumal1999 I would like to work on this issue. Can you please assign this to me.

[2022-10-12 01:51] #1294 closed, assigned to VishwaAmarasinghe

[2022-10-12 01:53] #1272 closed, assigned to YoshithaRathnayake

[2022-10-12 03:42] jayasanka-sack commented on #1297
I think it's okay to replace the link with https://readme.lk/ instead of removing the logo.

@Piumal1999 @anjula-sack

[2022-10-12 03:58] jayasanka-sack commented on #1281
I think it's okay to open the handbook from the same window.  @anjula-sack @Piumal1999 What do you think about the blog?

[2022-10-12 04:03] RandilaP commented on #1297
May I work on this

[2022-10-12 04:07] RandilaP commented on #1302
May I work on this

[2022-10-12 05:19] Piumal1999 opened #1305 "Reduce the width of "Our mentors and speakers are from" section"
**Is your feature request related to a problem? Please describe.**
The "Our mentors and speakers are from" section is a bit longer than the other sections of the sef-site homepage. (In larger screen sizes)

<img width="1405" alt="image" src="https://user-images.githubusercontent.com/27498587/195255871-719da5eb-1a3c-4859-9100-ac5b46d9e6ef.png">

**Describe the solution you'd like**
The width should

[2022-10-12 05:20] Konara98 commented on #1305
shall i work on this?

[2022-10-12 07:58] Madhawa97 commented on #1231
Hey @DilinaBandara. Came across this exact issue again. Couldn't find what's causing this though.

[2022-10-12 08:03] Piumal1999 commented on #1231
@Madhawa97 I think this occurs due to the long URLs in the descriptions. Those cannot be broken into 2 lines.

<img width="501" alt="image" src="https://user-images.githubusercontent.com/27498587/195285262-d0b16e3d-33b8-4afd-bea6-895f7ed7eeeb.png">

[2022-10-12 08:05] Madhawa97 commented on #1231
Any common/ recommended method to make to broken into 2 lines? @Piumal1999
Or its better if we can detect if there is a url and render it as a hyperlink. looks better as well as functional.

[2022-10-12 08:11] Piumal1999 commented on #1231
Maybe something like this? Is it possible to do with the data on the google sheet?

Example:
<img width="789" alt="image" src="https://user-images.githubusercontent.com/27498587/195286803-c5318443-9ba7-403e-8f98-30ff74ed195a.png">
⬇️
<img width="789" alt="image" src="https://user-images.githubusercontent.com/27498587/195287151-df5fb79e-819f-4d05-b4d9-db880ea07049.png">

[2022-10-12 08:25] Madhawa97 commented on #1231
Yes. It's successful. need a small change in the code though. Otherwise it renders with the anchor tag. Shall I create an issue and assign @geethaka-Nrs for this? Or I'm not sure if we can reopen this issue again @Piumal1999

[2022-10-12 08:27] Piumal1999 commented on #1231
Yeah, sure

[2022-10-12 12:04] YoshithaRathnayake commented on #1302
Please, I will work on this ok?

[2022-10-12 12:05] YoshithaRathnayake commented on #1281
@anjula-sack told it's ok @jayasanka-sack

[2022-10-13 06:23] Madhawa97 opened #1306 "Update the mustache template to display hyperlinks on SX Success Stories page"
**Is your feature request related to a problem? Please describe.**
Currently there are few URLs displayed in the scholarx success stories page. We need to display them inside a hyperlink.

**Describe the solution you'd like**
Update the google sheet and update the mustache template to display the hyperlinks.

**Additional context**
This issue was initially discovered by @DilinaBandara with #1231

[2022-10-13 06:31] geethaka-Nrs commented on #1306
I'd like to work on this

[2022-10-13 06:58] #1306 closed, assigned to geethaka-Nrs

[2022-10-13 11:23] anjula-sack commented on #1302
Go ahead

[2022-10-13 11:24] anjula-sack commented on #1295
I feel like it's not required. WDYT @jayasanka-sack @Piumal1999 ?

[2022-10-13 12:15] VishwaAmarasinghe opened #1308 "Make discourse icon look similar to other icons in navbar"
**Is your feature request related to a problem? Please describe.**
The discourse icon in the navbar does not look similar to other icons because the discourse icon's background colour should be the colour of the discourse icon's color and the background colour should be white colour.

**Describe the solution you'd like**
Make changes to css file by changing colour code.

**Describe alternatives yo

[2022-10-13 12:16] VishwaAmarasinghe commented on #1308
Shall I work on this?

[2022-10-13 14:03] #1298 closed, assigned to sathmikaDev

[2022-10-13 14:05] YoshithaRathnayake opened #1310 "Fix the alignments in the All Pages breaking from the navbar"
**Describe the bug**
The alignments in the body of the All Pages are ugly. The problem is in the navbar.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'All Pages'
4. See error

**Expected behavior**
Fix the alignments in the Navbar

**Screenshots**
If applicable, add screenshots to help explain your problem.
Engineering Team Page
![image](https://user-images.githubusercontent.com/970

[2022-10-13 14:05] YoshithaRathnayake commented on #1310
Shall I work on this ?

[2022-10-13 14:07] #1302 closed, assigned to YoshithaRathnayake

[2022-10-13 14:16] Piumal1999 commented on #1308
Sure @VishwaAmarasinghe

[2022-10-13 15:36] VishwaAmarasinghe commented on #1308
Thank you @Piumal1999

[2022-10-14 03:43] Konara98 commented on #1305
Still working on it. i'll open a pull request soon.

[2022-10-14 07:16] jayasanka-sack commented on #1295
Yes @anjula-sack, I feel the same.
Anyway, many thanks to @YoshithaRathnayake as usual! We are delighted to have you on board! <3

[2022-10-14 07:16] #1295 closed, assigned to nobody

[2022-10-14 09:40] YoshithaRathnayake commented on #1305
Ok

[2022-10-14 09:41] YoshithaRathnayake commented on #1295
👍

[2022-10-14 11:06] #1305 closed, assigned to Konara98

[2022-10-14 11:15] YoshithaRathnayake opened #1314 "Reduce the gap between the button and the topic in the IRC Page"
**Is your feature request related to a problem? Please describe.**
The gap between the sign up button and the topic of the `Sign up as a Researcher` section in IRC Page is increased and it seems like the sign up button isn't belongs to the Sign up as a Researcher section

**Describe the solution you'd like**
Reduce the gap between the button and the topic in the IRC Page

**Screenshots**
![image](

[2022-10-14 11:15] YoshithaRathnayake commented on #1314
Shall I work on this ?

[2022-10-14 14:07] sathmikaDev opened #1316 ""text-justified" class have made unnecessary spaces"
**Describe the bug**
In the home page, some sections have used `text-justified` class with `<p>` tags. It has created unnecessary spaces between words.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to https://sefglobal.org/
2. Scroll down to our journey so far section
3. See error

**Expected behavior**
`text-justify` class should be replaced with `text-left` or `text-right`.

**Screens

[2022-10-14 14:12] RandilaP opened #1317 "Adjust gap between press coverage logos in mobile view"
**Describe the bug**
In mobile view press coverage section logos has to increase the gap between them.

**Screenshots**
![image](https://user-images.githubusercontent.com/106733522/195868087-e6c34913-8b29-409b-9c0b-b12dcead2bfc.png)

If applicable, add screenshots to help explain your problem.

**Are you working on it?**
Yes

[2022-10-14 14:13] RandilaP commented on #1317
@anjula-sack @jayasanka-sack May I work on this

[2022-10-14 14:18] sathmikaDev commented on #1316
Hi, @Piumal1999 I'd like to work in this

[2022-10-14 14:21] Piumal1999 commented on #1316
@anjula-sack WDYT? Did we use the justify alignment intentionally?

[2022-10-14 15:17] anjula-sack commented on #1316
I don't think so let's remove it

[2022-10-14 15:17] anjula-sack commented on #1316
Go ahead @Sathmikasenadheera01

[2022-10-14 15:18] anjula-sack commented on #1314
sure go ahead

[2022-10-14 15:19] anjula-sack commented on #1285
@Madhawa97 any idea about this?

[2022-10-14 15:20] #1308 closed, assigned to VishwaAmarasinghe

[2022-10-14 15:20] sathmikaDev commented on #1316
🙌🙌

[2022-10-14 15:48] Madhawa97 commented on #1316
It was intentional initially, but yeah if it looks better without the justifying you can remove it. Try the css builtin `text-align: justify` property as well. It's a bit different from the one from the bootstrap. @Sathmikasenadheera01

[2022-10-14 15:51] sathmikaDev commented on #1316
I'll try it. 🙌

[2022-10-14 15:56] sathmikaDev commented on #1316
![kMyrPgxuT9](https://user-images.githubusercontent.com/99987075/195889393-36bb6a65-a61f-4152-87e4-16b86cd03a5b.png)

@Madhawa97  I think it's also same as before

[2022-10-14 16:05] Madhawa97 commented on #1285
Hi @anjula-sack. Just tried adding;
`@media screen and (-webkit-min-device-pixel-ratio:0) {
    .story-section .highlight {
        color: red;
    }
}
`
but it still updates both browsers. Do you happen to know any other method?

[2022-10-14 16:42] miniskynet opened #1320 "Remove redundant double quotation marks on the Engineering Team page"
**Describe the bug**
Double quotation marks around the project description are not necessary, therefore should be removed

**Expected behavior**
The project descriptions should not have double quotation marks around them

**Are you working on it?**
Yes

[2022-10-14 16:52] miniskynet commented on #1320
I am working on this

[2022-10-14 16:57] Madhawa97 commented on #1285
@geethaka-Nrs would you like to work on this? we can get rid of the bold styling which make the view from both browsers identical. It looks good as well.
![Screenshot 2022-10-14 at 22 34 44](https://user-images.githubusercontent.com/70215958/195903585-0fefc2a9-7cc1-4e31-8300-a9d8724087cd.jpg)

[2022-10-14 17:04] geethaka-Nrs commented on #1285
Yeah sure. Can you assign me please

[2022-10-14 18:09] RandilaP opened #1321 "Rename devpage.html"
**Expected behavior**
Rename devpage.html to engineering-team.html

**Are you working on it?**
Yes

[2022-10-14 20:51] dave-v0 opened #1322 "Editing grammar and punctuation in the Success Stories Page"
**Is your feature request related to a problem? Please describe.**
I'd like to professionally edit the grammar and punctuation in the success stories page

**Describe the solution you'd like**
Adding in and changing grammatical-based requirements

**Are you working on it?**
No

[2022-10-15 02:53] #1316 closed, assigned to sathmikaDev

[2022-10-15 05:38] YoshithaRathnayake opened #1323 "Make the background color of the both sections one color in OneLive"
**Is your feature request related to a problem? Please describe.**
Now, the background color of the `Be a OneLive speaker` and `Recommend a speaker` is different.

**Describe the solution you'd like**
Make the background color of the two sections to white color

**Are you working on it?**
Yes

[2022-10-15 05:38] YoshithaRathnayake commented on #1323
Shall I work on this ?

[2022-10-15 05:51] YoshithaRathnayake opened #1324 "The main header of the Student Ambassador Page in the mobile view is hiding to the FAQ section"
**Describe the bug**
The main header of the Student Ambassador page in the mobile view is hiding to the FAQ section.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'Student Ambassador Page'
4. See error in the mobile view

**Expected behavior**
Reduce the margin top

**Screenshots**
![image](https://user-images.githubusercontent.com/97069900/195971283-bd8f6c93-6b6f-40ef-873c-6e2b23cec

[2022-10-15 05:51] YoshithaRathnayake commented on #1324
Shall I work on this ?

[2022-10-15 07:01] YoshithaRathnayake opened #1327 "The button in the Become one of the Volunteers in the home page is sticked to the topic"
**Describe the bug**
The button in the Become one of the Volunteers in the home page is sticked to the topic

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'Sef Site'
3. Scroll down to 'Become one of the Volunteers Section'
4. See error

**Expected behavior**
Increase the margin of the button

**Screenshots**
If applicable, add screenshots to help explain your problem.
![image](https:

[2022-10-15 07:49] miniskynet opened #1328 "Add the leader board link to SEF site nav bar"
**Is your feature request related to a problem? Please describe.**
The SEF site navbar does not have an option to navigate to the leaderboard

**Describe the solution you'd like**
Add an option on navigation bars 'join us' dropdown to navigate to the leaderboard

**Are you working on it?**
Yes

[2022-10-15 07:51] YoshithaRathnayake commented on #1328
I would like to work on this

[2022-10-15 07:51] YoshithaRathnayake commented on #1328
pls assign me @miniskynet

[2022-10-15 07:58] miniskynet commented on #1328
oh I saw this now @YoshithaRathnayake . I was already working on this. Sorry about that.

[2022-10-15 08:01] YoshithaRathnayake commented on #1328
OK @miniskynet

[2022-10-15 08:14] #1314 closed, assigned to YoshithaRathnayake

[2022-10-15 09:03] #1328 closed, assigned to miniskynet

[2022-10-15 11:33] YoshithaRathnayake opened #1330 "Align the icons center in the Our Mentors And Speakers Are From Section in the mobile view"
**Describe the bug**
The icons in the Our Mentors And Speakers Are From Section are aligned to right in mobile view

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'SEF SITE'
3. Scroll down to 'Our Mentors And Speakers Are From'
4. See error

**Expected behavior**
Align the icons center in the Our Mentors And Speakers Are From Section in the mobile view

**Screenshots**
![image](https:

[2022-10-15 12:05] miniskynet opened #1332 "Remove script folder"
**Is your feature request related to a problem? Please describe.**
The surge_deploy.sh script file no longer serves a purpose, therefore the script folder should be removed

**Describe the solution you'd like**
Remove script folder

**Are you working on it?**
Yes

[2022-10-15 12:53] Tharindu37 commented on #1330
I would like to work on this

[2022-10-15 12:55] YoshithaRathnayake commented on #1330
Please, I will work on this @Tharindu37

[2022-10-15 12:56] Tharindu37 commented on #1330
@YoshithaRathnayake Ok

[2022-10-15 13:01] YoshithaRathnayake commented on #1330
Thank you

[2022-10-15 14:34] #1332 closed, assigned to miniskynet

[2022-10-15 17:00] charandeep7 opened #1334 "Add back to top button"
**Is your feature request related to a problem? Please describe.**
NA

**Describe the solution you'd like**
NA

**Describe alternatives you've considered**
NA

**Additional context**
I want to add back to top button. please assign me. I'll do it asap.

**Are you working on it?**
Yes

[2022-10-15 17:55] anjula-sack commented on #1334
Go ahead @charandeep7

[2022-10-16 01:39] VishwaAmarasinghe opened #1336 "Fix the alignment of the upspeak page's tablet view"
**Describe the bug**
The alignment of the Upspeak page's tablet view is ugly because there is lot of space above and below the image. Also, the text is aligning to the left side of the page so much.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'https://sefglobal.org/upspeak/'
2. Click on 'inspect'
3. Scroll down
4. See error

**Expected behavior**
It should look like what we see in

[2022-10-16 01:40] VishwaAmarasinghe commented on #1336
Shall I work on this?

[2022-10-16 02:52] anjula-sack commented on #1336
Go ahead @VishwaAmarasinghe

[2022-10-16 07:17] VishwaAmarasinghe commented on #1336
Thanks @anjula-sack

[2022-10-16 08:40] YoshithaRathnayake commented on #1330
@anjula-sack can you assign me to this?

[2022-10-16 08:41] YoshithaRathnayake commented on #1324
@anjula-sack can you assign me to this issue?

[2022-10-16 08:41] YoshithaRathnayake commented on #1310
@anjula-sack can you assign me for this issue?

[2022-10-16 12:31] YoshithaRathnayake commented on #1281
@Piumal1999 ?

[2022-10-16 12:32] YoshithaRathnayake commented on #1310
@Piumal1999  can you assign me for this issue?

[2022-10-16 12:33] YoshithaRathnayake commented on #1323
@Piumal1999  can you assign me for this issue?

[2022-10-16 12:33] YoshithaRathnayake commented on #1324
@Piumal1999  can you assign me for this issue?

[2022-10-17 03:58] Piumal1999 opened #1339 "Remove the duplicate footer element and restructure the code"
**Is your feature request related to a problem? Please describe.**
This is the footer we currently use. It contains 2 footer elements.
<img width="675" alt="image" src="https://user-images.githubusercontent.com/27498587/196085608-ec3d61c6-de02-4079-a01f-d713bce08f5f.png">

The code of the footer can be improved by referring to the argon documentation.

**Describe the solution you'd like**
1. Remov

[2022-10-17 03:59] Konara98 commented on #1339
Shall i work on this issue.

[2022-10-17 04:18] #1320 closed, assigned to miniskynet

[2022-10-17 04:19] Piumal1999 commented on #1310
Hi @YoshithaRathnayake, I couldn't reproduce this error. In which screen sizes does this occur?

[2022-10-17 04:24] Piumal1999 opened #1340 "Increase the section paddings of IRC page"
**Is your feature request related to a problem? Please describe.**
The bottom padding of the Researchers section and the Interns section of the IRC page is set as zero. So the 2 sections are cluttered.

-
<img width="1680" alt="image" src="https://user-images.githubusercontent.com/27498587/196088973-5d3cbda8-7907-4a6d-9c86-5e556bb727db.png">

-
<img width="1680" alt="image" src="https://user-image

[2022-10-17 04:25] Konara98 commented on #1340
Shall i work on this

[2022-10-17 11:03] YoshithaRathnayake commented on #1340
I would like to work on this, can you assign me pls @Piumal1999

[2022-10-17 11:23] YoshithaRathnayake commented on #1310
992 resoluyion upwards in mentioned sites (above) @Piumal1999 . See the footer area you will be able to find the bug

[2022-10-17 12:02] Piumal1999 commented on #1310
Ah right. Assigned @YoshithaRathnayake

[2022-10-17 12:05] YoshithaRathnayake commented on #1310
Thanks @Piumal1999

[2022-10-17 12:08] #1285 closed, assigned to geethaka-Nrs

[2022-10-17 12:28] YoshithaRathnayake opened #1343 "Make the sef github leaderboard link in the navbar to open in the same window"
**Is your feature request related to a problem? Please describe.**
Currently, the sef github leaderboard link in the navbar is opening in a new window

**Describe the solution you'd like**
Make the sef github leaderboard link to open in the same window

**Are you working on it?**
Yes

[2022-10-17 12:28] YoshithaRathnayake commented on #1343
Shall I work on this ?

[2022-10-17 14:12] #1336 closed, assigned to VishwaAmarasinghe

[2022-10-17 19:17] Madhawa97 opened #1344 "Add a form to collect more stories for scholarx-success-stories page"
**Is your feature request related to a problem? Please describe.**
We need to add a form to the ScholarX Success stories page to get more stories from the past mentees.

**Describe the solution you'd like**
Add a new section to the Scholarx-success-stories page which direct users to a google form where we can collect responses.

**Describe alternatives you've considered**
None

**Additional contex

[2022-10-18 12:18] YoshithaRathnayake opened #1346 "Tooltips are not working in the footer icons"
**Describe the bug**
Currently, the tooltips of the footer icons are not working properly

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'sef-site'
3. Scroll down to 'footer'
4. See error

**Expected behavior**
Fix the tooltips correctly to work

**Are you working on it?**
Yes

[2022-10-18 12:18] YoshithaRathnayake commented on #1346
Shall I work on this ?

[2022-10-18 17:26] miniskynet commented on #1322
The grammar and punctuation errors have been fixed
https://docs.google.com/spreadsheets/d/1uHklcBq5KD21Qoz_sYvwUO6qn_297hxVIN0MkF8zUxs/edit#gid=0

[2022-10-18 17:26] #1322 closed, assigned to miniskynet

[2022-10-19 15:12] #1340 closed, assigned to Konara98

[2022-10-20 06:30] #1344 closed, assigned to Madhawa97

[2022-10-20 16:32] miniskynet opened #1349 "Remove white outline from 'SEE MORE' and 'LOAD MORE' buttons on One Live pages"
**Describe the bug**
There is a design breaking white outline on the 'SEE MORE' and 'LOAD MORE' buttons

**Expected behavior**
Should not have the white outlines on buttons

**Screenshots**
![image](https://user-images.githubusercontent.com/49517852/197005863-7686cb6e-b682-44ad-b691-d9a79517dfb5.png)

**Are you working on it?**
Yes

[2022-10-21 17:54] YoshithaRathnayake opened #1352 "Fix the alignments in the IRC page `Research Interns In 2020` section in the mobile view"
**Describe the bug**
Currently, the alignments of the IRC page `Research Interns In 2020` section in the mobile view (from 992 resolution below) is very bad.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'IRC Page'
3. Scroll down to 'Research Interns In 2020'
4. See error

**Expected behavior**
Fix the alignments in the IRC page `Research Interns In 2020` section in the mobile view (

[2022-10-21 17:55] YoshithaRathnayake commented on #1352
Shall I work on this ?

[2022-10-22 06:50] #1349 closed, assigned to miniskynet

[2022-10-22 06:52] #1310 closed, assigned to YoshithaRathnayake

[2022-10-22 12:20] anjula-sack commented on #1330
Go ahead. @YoshithaRathnayake

[2022-10-22 12:20] YoshithaRathnayake commented on #1330
Thank you @anjula-sack

[2022-10-22 13:24] #1323 closed, assigned to YoshithaRathnayake

[2022-10-22 14:48] #1330 closed, assigned to YoshithaRathnayake

[2022-10-22 14:48] #1230 closed, assigned to sathmikaDev

[2022-10-22 15:31] YoshithaRathnayake opened #1354 "With the sticky header the `Our Projects` section is sticked to the nav"
**Describe the bug**
Currently, when I click the explore button in home page its scrolling to the `Our Projects` section and its look likes sticked to the nav bar

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'sef-site'
2. Click on 'explore btn'
4. See error

**Expected behavior**
Add a margin when scrolling to the `Our Projects` section

**Screenshots**
![image](https://user-images.

[2022-10-22 15:31] YoshithaRathnayake commented on #1354
Shall I work on this ?

[2022-10-22 15:34] YoshithaRathnayake opened #1355 "With the sticky header the top of the all pages is covered with the navbar"
**Describe the bug**
Currently, top of the all pages is covered by the navbar bcs of the sticky header

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'every page'
4. See error

**Expected behavior**
Add a margin to the navbar

**Screenshots**
![image](https://user-images.githubusercontent.com/97069900/197347857-109d42b4-a729-46a9-99fd-c60acd6c9ba0.png)

**Are you working on it?**
Yes

[2022-10-22 15:34] YoshithaRathnayake commented on #1355
Shall I work on this ?

[2022-10-22 16:22] anjula-sack commented on #1355
Go ahead. Let's reduce the padding of the navbar as well

[2022-10-23 03:17] YoshithaRathnayake commented on #1355
Sure @anjula-sack

[2022-10-23 05:51] miniskynet opened #1356 "Change the title from 'Featured Stories' to 'Featured Articles' in previous ScholarX programs"
**Describe the bug**
The ScholarX pages in the archive (2019,2020 and 2021) have the title as 'Featured Stories'

**Expected behavior**
The title should change to 'Featured Articles'

**Screenshots**
**Expected look:**
![image](https://user-images.githubusercontent.com/49517852/197375522-67f7f8ad-7f6c-46d0-9eb4-0df3820665d6.png)
**Current state:**
![image](https://user-images.githubusercontent.com

[2022-10-23 06:05] #1355 closed, assigned to YoshithaRathnayake

[2022-10-23 06:17] YoshithaRathnayake opened #1358 "Decrease the margin between the navbar and the home page header section"
**Is your feature request related to a problem? Please describe.**
The space between the navbar and the home page header section is increased by decreasing the padding of the navbar

**Describe the solution you'd like**
Decrease the margin between the navbar and the home page header section

**Are you working on it?**
Yes

[2022-10-23 06:17] YoshithaRathnayake commented on #1358
Shall I work on this ?

[2022-10-23 06:29] super-duper-sp commented on #1327
Please, assign this issue to me. I would like to work on this.

[2022-10-23 06:43] YoshithaRathnayake commented on #1327
Pls, I will work on this ok? @super-duper-sp

[2022-10-23 08:00] YoshithaRathnayake commented on #1356
I'd like to work on this, can you assign me please? @miniskynet

[2022-10-23 09:55] #1339 closed, assigned to Konara98

[2022-10-24 03:00] #1321 closed, assigned to RandilaP

[2022-10-24 03:07] anjula-sack commented on #1354
Now this is fixed with the latest updates to the navbar @YoshithaRathnayake

[2022-10-24 03:07] #1354 closed, assigned to nobody

[2022-10-24 03:08] anjula-sack commented on #1343
It's better to open the leaderboard in a separate tab. @YoshithaRathnayake

[2022-10-24 03:08] #1343 closed, assigned to nobody

[2022-10-24 08:09] YoshithaRathnayake commented on #1354
Oh yes from the reduction of the padding right? @anjula-sack

[2022-10-24 08:09] YoshithaRathnayake commented on #1343
Ok @anjula-sack

[2022-10-24 15:06] RandilaP opened #1361 "Add project cards to engineering team page"
**Describe the solution you'd like**
- Add project cards for projects in engineering team

**Are you working on it?**
Yes

[2022-10-25 16:04] #1356 closed, assigned to miniskynet

[2022-10-26 05:27] #1358 closed, assigned to YoshithaRathnayake

[2022-10-26 13:51] jayasanka-sack opened #1363 "Update the PR template"
**Is your feature request related to a problem? Please describe.**
The current PR template contains some irrelevant sections and can be further improved.

**Describe the solution you'd like**
- Link with the handbook
- Update the checklist
- Remove the test environment section
- Improve the PR link section

**Are you working on it?**
Yes

[2022-10-26 15:02] YoshithaRathnayake opened #1365 "Topic of the join us page is sticked to the navbar in the mobile view"
**Describe the bug**
Currently, the topic of the join us page is sticked to the navbar in the mobile view (below 768 resolution)

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'Join Us Page'
4. See error in the mobile view

**Expected behavior**
Add a margin top to the heading.

**Screenshots**
![image](https://user-images.githubusercontent.com/97069900/198062585-53aa9f2d-5243-439f-b5

[2022-10-26 15:02] YoshithaRathnayake commented on #1365
Shall I work on this ?

[2022-10-26 15:08] #1327 closed, assigned to YoshithaRathnayake

[2022-10-27 01:44] #1324 closed, assigned to YoshithaRathnayake

[2022-10-27 01:47] anjula-sack opened #1368 "Remove the "Join the Family" heading in the student ambassador page mobile view"
**Is your feature request related to a problem? Please describe.**
- There's a heading on the student ambassador page only in the mobile view. We don't need that heading.

**Describe the solution you'd like**
- Remove the `Join the Family` heading

<img width="416" alt="image" src="https://user-images.githubusercontent.com/43912578/198185418-b21743ff-f4f7-4a59-9e9b-e303f45ccda0.png">

**Are you wo

[2022-10-27 02:39] YoshithaRathnayake commented on #1368
Shall I work on this ?

[2022-10-27 05:59] #1368 closed, assigned to YoshithaRathnayake

[2022-10-27 10:44] anjula-sack commented on #1281
I think it's better to open external links in a new window.

[2022-10-27 11:01] YoshithaRathnayake opened #1371 "With the sticky header onlive page FAQ section topic is sticked to the navbar"
**Describe the bug**
Currently, when I click the learn more button in the top of the onlive page its redirecting to the FAQ section and its like sticked to the navbar after scroll

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'Onlive page'
2. Click on 'learn more button'
4. See error

**Expected behavior**
Add a margin top to the FAQ section topic

**Screenshots**
![image](https://us

[2022-10-27 11:01] YoshithaRathnayake commented on #1371
Shall I work on this ?

[2022-10-27 11:09] YoshithaRathnayake opened #1372 "Increase the margin of the Our Projects section in the Engineering Team Page"
**Describe the bug**
Currently, Our projects section and the header part of the Engineering Team page is very close to each other, its like sticked them both.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'Engineering Team Page'
4. See error

**Expected behavior**
Add a margin top for the Our Projects section

**Screenshots**
![image](https://user-images.githubusercontent.com/9706990

[2022-10-27 11:09] YoshithaRathnayake commented on #1372
Shall I work on this ?

[2022-10-27 16:02] miniskynet opened #1373 "Add meeting links to SEF handbook Engineering page"
**Is your feature request related to a problem? Please describe.**
The [engineering page]([url](https://handbook.sefglobal.org/organisation/engineering-team)) of the SEF Handbook is missing links for general meetings, standups, knowledge sharing sessions, etc

**Describe the solution you'd like**
Include the links for general meetings, standups, knowledge sharing sessions, etc on the [engineering

[2022-10-28 00:59] YoshithaRathnayake commented on #1373
Shall I work on this ?